# Date
snippet @today "today's date in YYYY/MM/dd format" Aw
`date +%Y/%m/%d`
endsnippet

################################################################################
# Common words with vowels and repeat letters removed
################################################################################
snippet mdl "model" Aw
model
endsnippet
snippet Mdl "model" Aw
Model
endsnippet

snippet Crntly "currently" Aw
Currently
endsnippet

snippet rprsnt "represent" Aw
represent
endsnippet
snippet Rprsnt "represent" Aw
Represent
endsnippet

snippet ovrl "overall" Aw
overall
endsnippet
snippet Ovrl "overall" Aw
Overall
endsnippet

snippet updt "update" Aw
update
endsnippet
snippet Updt "update" Aw
Update
endsnippet

snippet clctn "collection" Aw
collection
endsnippet
snippet Clctn "collection" Aw
Collection
endsnippet

snippet excptn "exception" Aw
exception
endsnippet
snippet Excptn "exception" Aw
Exception
endsnippet

snippet atk "attack" Aw
attack
endsnippet
snippet Atk "attack" Aw
Attack
endsnippet

snippet rng "range" Aw
range
endsnippet
snippet rng "Range" Aw
Range
endsnippet

snippet prcng "piercing" Aw
piercing
endsnippet
snippet Prcng "piercing" Aw
Piercing
endsnippet

snippet bldgng "bludgeoning" Aw
bludgeoning
endsnippet
snippet Bldgng "bludgeoning" Aw
Bludgeoning
endsnippet

snippet bld "build" Aw
build
endsnippet
snippet Bld "build" Aw
Build
endsnippet

snippet rte "route" Aw
route
endsnippet
snippet Rte "route" Aw
Route
endsnippet

snippet smsh "smash" Aw
smash
endsnippet
snippet Smsh "smash" Aw
Smash
endsnippet

snippet ntwrk "network" Aw
network
endsnippet
snippet Ntwrk "network" Aw
Network
endsnippet

snippet instnc "instance" Aw
instance
endsnippet
snippet Instnc "instance" Aw
Instance
endsnippet

snippet rtrn "return" Aw
return
endsnippet
snippet Rtrn "return" Aw
Return
endsnippet

snippet thrg "through" Aw
through
endsnippet
snippet Thrg "through" Aw
Through
endsnippet

snippet strng "string" Aw
string
endsnippet
snippet Strng "string" Aw
String
endsnippet

snippet exprsn "expression" Aw
expression
endsnippet
snippet Exprsn "expression" Aw
Expression
endsnippet

snippet atrbt "attribute" Aw
attribute
endsnippet
snippet Atrbt "attribute" Aw
Attribute
endsnippet

snippet dscrptn "description" Aw
description
endsnippet
snippet Dscrptn "description" Aw
Description
endsnippet

snippet prblm "problem" Aw
problem
endsnippet
snippet Prblm "problem" Aw
Problem
endsnippet

snippet strm "stream" Aw
stream
endsnippet
snippet Strm "stream" Aw
Stream
endsnippet

snippet cnfg "config" Aw
config
endsnippet
snippet Cnfg "config" Aw
Config
endsnippet

snippet configu "configure" Aw
configure
endsnippet
snippet Configu "configure" Aw
Configure
endsnippet

snippet dlt "delete" Aw
delete
endsnippet
snippet Dlt "delete" Aw
Delete
endsnippet

snippet mnt "mount" Aw
mount
endsnippet
snippet Mnt "mount" Aw
Mount
endsnippet

snippet wht "what" Aw
what
endsnippet
snippet Wht "what" Aw
What
endsnippet

snippet wght "weight" Aw
weight
endsnippet
snippet Wght "weight" Aw
Weight
endsnippet

snippet ptrn "pattern" Aw
pattern
endsnippet
snippet Ptrn "pattern" Aw
Pattern
endsnippet

snippet ovrvw "overview" Aw
overview
endsnippet
snippet Ovrvw "overview" Aw
Overview
endsnippet

snippet then "then" Aw
then
endsnippet
snippet Then "then" Aw
Then
endsnippet

snippet evn "even" Aw
even
endsnippet
snippet Evn "even" Aw
Even
endsnippet

snippet hlp "help" Aw
help
endsnippet
snippet Hlp "help" Aw
Help
endsnippet

snippet bcm "become" Aw
become
endsnippet
snippet Bcm "become" Aw
Become
endsnippet

snippet prsn "person" Aw
person
endsnippet
snippet Prsn "person" Aw
Person
endsnippet

snippet blv "believe" Aw
believe
endsnippet
snippet Blv "believe" Aw
Believe
endsnippet

snippet mr "more" w
more
endsnippet
snippet Mr "more" w
More
endsnippet

snippet hrchy "hierarchy" Aw
hierarchy
endsnippet
snippet hrchy "Hierarchy" Aw
Hierarchy
endsnippet

snippet otpt "output" Aw
output
endsnippet
snippet Otpt "output" Aw
Output
endsnippet

snippet smtm "sometimes" Aw
sometimes
endsnippet
snippet Smtm "sometimes" Aw
Sometimes
endsnippet

snippet prgrs "progress" Aw
progress
endsnippet
snippet Prgrs "progress" Aw
Progress
endsnippet

snippet dfrnt "different" Aw
different
endsnippet
snippet Dfrnt "different" Aw
Different
endsnippet

snippet dfrnce "difference" Aw
difference
endsnippet
snippet Dfrnce "difference" Aw
Difference
endsnippet
