[Unit]
Description=Restart pipewire, wireplumber, and easyeffects on resume from suspend
StartLimitBurst=5

[Service]
Type=simple
ExecStart=%h/bin/reload_sounds

[Install]
WantedBy=resume@%u.service
