[Unit]
Description=User level suspend target to run before system suspends
StopWhenUnneeded=yes
# Put any services that needs to be run below this line
Wants=veracrypt_dismount.service

[Install]
WantedBy=default.target
