:root {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #61afef;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  --color-scheme: light;
  --app-bg: var(--base);
  --app-text: var(--text);
  --header-bg: var(--crust);
  --app-frame-bg: var(--app-bg);
  --landing-bg: var(--app-bg);
  --app-bg-opac: rgba(30, 30, 46, 0);
  --bottom-bar-bg: var(--yellow);
  --white: var(--text);
  --graphite: var(--base);
  --graphite-25: var(--overlay2);
  --graphite-50: var(--flamingo);
  --graphite-70: var(--pink);
  --graphite-100: var(--mauve);
  --graphite-200: var(--red);
  --graphite-300: var(--maroon);
  --graphite-400: var(--peach);
  --graphite-500: var(--yellow);
  --graphite-600: var(--green);
  --graphite-700: var(--teal);
  --graphite-800: var(--sky);
  --graphite-850: var(--sapphire);
  --graphite-900: var(--blue);
  --graphite-950: var(--lavender);
  --graphite-1000: var(--text);
  --chrome-25: var(--rosewater);
  --chrome-50: var(--flamingo);
  --chrome-70: var(--pink);
  --chrome-100: var(--mauve);
  --chrome-200: var(--red);
  --chrome-300: var(--maroon);
  --chrome-400: var(--peach);
  --chrome-500: var(--yellow);
  --chrome-600: var(--green);
  --chrome-700: var(--teal);
  --chrome-800: var(--sky);
  --chrome-850: var(--sapphire);
  --chrome-900: var(--blue);
  --chrome-950: var(--lavender);
  --chrome-1000: var(--text);
  --purple-300: var(--lavender);
  --purple-400: var(--blue);
  --purple-500: var(--sapphire);
  --purple-600: var(--sky);
  --purple-800: var(--teal);
  --purple-900: var(--green);
  --primary: var(--text);
  --primary-25: var(--overlay2);
  --primary-50: var(--flamingo);
  --primary-70: var(--pink);
  --primary-100: var(--mauve);
  --primary-200: var(--red);
  --primary-300: var(--maroon);
  --primary-400: var(--peach);
  --primary-500: var(--yellow);
  --primary-600: var(--green);
  --primary-700: var(--teal);
  --primary-800: var(--sky);
  --primary-850: var(--sapphire);
  --primary-900: var(--blue);
  --primary-950: var(--lavender);
  --primary-1000: var(--text);
  --primary-g: var(--text);
  --primary-g-2: var(--red);
  --primary-g-6: var(--green);
  --primary-g-8: var(--sky);
  --primary-300-solid: var(--maroon);
  --warning: var(--peach);
  --info: var(--sky);
  --danger: var(--red);
  --success: var(--green);
  --calm: var(--surface0);
  --link: var(--purple-600);
  --primary-hover: var(--purple-600);
  --primary-hover-hover: var(--purple-500);
  --primary-visited: var(--teal);
  --kagi-highlight: var(--yellow);
  --beta-tag-bg: var(--yellow);
  --beta-tag-text: var(--base);
  --beta-tag-inside-corners: var(--maroon);
  --kagi-light-cream: var(--rosewater);
  --kagi-accent: var(--surface1);
  --kagi-sky: var(--sky);
  --kagi-sky-b: var(--sapphire);
  --kagi-sky-i: var(--sky);
  --kagi-orange: var(--maroon);
  --resultsummary-highlight: var(--surface2);
  --resultsummary-highlight_text: var(--text);
  --kagi-graphite: var(--text);
  --kagi-graphite-s: var(--overlay2);
  --kagi-graphite-text: var(--base);
  --kagi-graphite-ia: var(--text);
  --kagi-graphite-ia-color: var(--base);
  --inner-shadow: rgba(0, 0, 0, .05);
  --settings-app-inner-bg: var(--app-bg);
  --box-shadow: rgba(0, 0, 0, .09);
  --box-shadow-15: rgba(0, 0, 0, .15);
  --ranked-box-shadow: rgba(0, 0, 0, .25);
  --color-search-input-border: var(--mauve);
  --color-search-input: var(--base);
  --color-search-input-opac: var(--app-bg-opac);
  --color-danger: var(--red);
  --input-bg: var(--app-bg);
  --btn-primary-bg: var(--mauve);
  --btn-primary-text: var(--crust);
  --btn-primary-color: var(--base);
  --btn-group-bg: var(--base);
  --nav_n_se_line: var(--yellow);
  --nav_n_im_line: var(--blue);
  --nav_n_vi_line: var(--red);
  --nav_n_ne_line: var(--mauve);
  --nav_n_ma_line: var(--green);
  --secondary: var(--base);
  --app-sidebar-item-border: rgba(255, 255, 255, .2);
  --app-sidebar-link: rgba(255, 255, 255, .6);
  --app-sidebar-nav-item-bg_hover: var(--yellow);
  --app-sidebar-nav-item-icon_hover: var(--base);
  --result-item-title-border: var(--peach);
  --result-item-title-border_hover: var(--primary-hover);
  --result-item-title-visited-border: var(--pink);
  --result-rank-icon-stroke_promoted: var(--text);
  --result-item-highlight: var(--sky);
  --search-result-content-text: var(--text);
  --search-result-url-link: var(--green);
  --search-result-title: var(--text);
  --search-result-title-hover: var(--primary-hover);
  --search-result-date-bg: var(--surface0);
  --search-result-date-new-bg: var(--base);
  --search-result-date-new: var(--sky);
  --domain-rank-icon-color-ban: var(--red);
  --domain-rank-icon-color-lower: var(--red);
  --domain-rank-icon-color-normal: var(--red);
  --domain-rank-icon-color-higher: var(--red);
  --domain-rank-icon-color-boosted: var(--red);
  --domain-rank-icon-color-trackers: var(--peach);
  --domain-rank-icon-color-trackers-hover: var(--maroon);
  --domain-rank-icon-color-scam: var(--peach);
  --domain-rank-icon-color-scam-hover: var(--maroon);
  --ranked-box-connection-secure: var(--green);
  --ranked-box-connection-insecure: var(--red);
  --ranked-box-tracker-desc-danger: var(--red);
  --ranked-box-tracker-desc-clear: var(--green);
  --inline-header-title: var(--text);
  --inline-widget-bg: var(--surface0);
  --inline-widget-hover-bg: var(--surface1);
  --inline-header-border: var(--red);
  --inline-domain-tag-bg: var(--pink);
  --related-item-bg: var(--surface0);
  --related-item-hover-bg: var(--surface1);
  --video-item-bg: var(--surface0);
  --auto-sugg-bg_hover: var(--surface0);
  --provider-breakdown_server: var(--sky);
  --provider-breakdown_client: var(--peach);
  --provider-breakdown_speed1: var(--yellow);
  --provider-breakdown_speed2: var(--red);
  --provider-breakdown_speed3: var(--red);
  --widget-progress_bar: var(--text);
  --translate-fc_icon: var(--text);
  --rating-star_background: var(--surface1);
  --wiki-content-links: var(--text);
  --m_sri_gap_color: var(--surface1);
  --ai_chat_buble_a_bg: var(--kagi-accent);
  --ai_chat_buble_q_bg: var(--app-bg);
  --ai_chat_buble_dd_q_bg: var(--kagi-accent);
  --ai_chat_buble_dd_a_bg: var(--surface1);
  --ai_chat_buble_a_text: var(--app-text);
  --ai_chat_buble_q_text: var(--app-text);
  --ai_chat_input_text: var(--app-text);
  --ai_chat_input_button: var(--teal);
  --doggo-color-1: var(--text);
  --doggo-bg-color: var(--app-bg);
  --doggo-stroke-color: var(--maroon);
  --landing-page-clouds-opacity: 1;
  --quick-search-bg: var(--text);
  --quick-search-icon: var(--base);
  --app-logo: var(--text);
  --app-logo-bg: var(--yellow);
  --filters-clear-btn-icon: var(--maroon);
  --filter-dd-bg: var(--surface2);
  --k-tooltip-bg: var(--background-color-sky);
  --k-tooltip-text: var(--text);
  --dd-hover-bg: var(--mauve);
  --dd-hover-color: var(--text);
  --dd-list-input-bg: var(--input-bg);
  --not-found-bubble-bg: var(--surface1);
  --site_info_bg: var(--app-bg);
  --site_info_bottom_bg: var(--kagi-accent);
  --code-bg: var(--base);
  --code-border: var(--overlay0);
  --code-k: var(--mauve);
  --code-s: var(--green);
  --code-cm-c1: var(--maroon);
  --code-n: var(--mauve);
  --code-p: var(--text);
  --background-color-sky: var(--sky);
  --checkbox-bg: var(--mauve);
  --checkbox-check: var(--crust);
  --as-dd-border: var(--app-bg);
  --dd-list-input-bg: var(--base);
  --icon-purple: var(--sky);
  --onboarding_theme_options_dark_visibility: none;
  --onboarding_theme_options_light_visibility: flex;
  --onb_theme_light_preview_box: flex;
  --onb_theme_calm_blue_preview_box: none;
  --onb_theme_royal_blue_preview_box: none;
  --onb_theme_moon_dark_preview_box: none;
  --image_brightness: 100%;
}

.theme_moon_dark {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --color-scheme: dark;
  --app-bg: var(--base);
  --app-text: var(--text);
  --header-bg: var(--app-bg);
  --inline-widget-bg: var(--surface0);
  --inline-widget-hover-bg: var(--surface1);
  --btn-primary-bg: var(--text);
  --btn-primary-text: var(--base);
  --checkbox-bg: var(--yellow);
  --checkbox-check: var(--base);
  --onboarding_theme_options_dark_visibility: flex;
  --onboarding_theme_options_light_visibility: none;
  --onb_theme_light_preview_box: none;
  --onb_theme_moon_dark_preview_box: flex;
  --k-tooltip-bg: var(--background-color-sky);
  --k-tooltip-text: var(--text);
}

@media (prefers-color-scheme: dark) {
  .theme_moon_dark_conditional {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --color-scheme: dark;
    --app-bg: var(--base);
    --app-text: var(--text);
    --header-bg: var(--app-bg);
    --inline-widget-bg: var(--surface0);
    --inline-widget-hover-bg: var(--surface1);
    --btn-primary-bg: var(--text);
    --btn-primary-text: var(--base);
    --checkbox-bg: var(--yellow);
    --checkbox-check: var(--base);
    --onboarding_theme_options_dark_visibility: flex;
    --onboarding_theme_options_light_visibility: none;
    --onb_theme_light_preview_box: none;
    --onb_theme_moon_dark_preview_box: flex;
    --k-tooltip-bg: var(--background-color-sky);
    --k-tooltip-text: var(--text);
  }
}

/* Global Styles */

/* Hide landing category items */
.landing-category-select .landing_cat_buttons > .nav-item.n_se::after,
.landing-category-select .landing_cat_buttons > .nav-item.n_im::after,
.landing-category-select .landing_cat_buttons > .nav-item.n_vi::after,
.landing-category-select .landing_cat_buttons > .nav-item.n_ne::after,
.landing-category-select .landing_cat_buttons > .nav-item.n_ma::after {
  display: none;
}

/* Toggle Switch */
.k_ui_toggle_switch input:checked ~ .k_ui_toggle_switch_bar:after {
  background-color: var(--surface0);
  border-color: var(--surface1);
}

.k_ui_toggle_switch input:checked ~ .k_ui_toggle_switch_bar {
  background: var(--green);
  border-color: var(--primary-25);
}
.k_ui_toggle_switch.--enabled .k_ui_toggle_switch_bar {
  background: var(--primary-g-6);
}
.k_ui_toggle_switch.--mini .k_ui_toggle_switch_bar {
  --border-color: var(--primary-g-6);
}
.k_ui_toggle_switch.--enabled .k_ui_toggle_switch_bar:after {
  background-color: var(--crust) !important;
  border-color: unset !important;
}

/* Tag Selector */
.tag-selector:hover {
  background: var(--surface1);
}
.tag-selector:has(:checked) {
  background: var(--surface1) !important;
}

/* Advanced Search Modal */
.advanced-search-modal-backdrop:before {
  background-color: unset;
}
.advanced-search-modal {
  background-color: var(--crust);
}

/* Background Colors */
.ranked-box-wrapper,
.d-info-body,
dialog {
  background-color: var(--crust);
}

/* Text Colors */
.ranked-box-wrapper,
.ranked-box-center,
.d-info-section-desc,
.d-info-section,
.ranked-c-adjust-title,
.d-info-body {
  color: var(--text);
}

/* Tags */
#tags .untagged {
  background: var(--ai_chat_buble_a_bg);
}
#tags > .tag,
#tags > .untagged,
#tags #tags-add {
  color: var(--text);
}

/* Prompt Options */
.promptOptionsSelector .default-assistants li.option:hover,
.promptOptionsSelector .recommended-assistants li.option:hover,
.promptOptionsSelector .recommended-assistants li.option[aria-selected="true"],
.promptOptionsSelector .default-assistants li.option[aria-selected="true"],
.promptOptionsSelector .default-assistants li.option.info-show:hover {
  background-color: var(--ai_chat_buble_a_bg);
}
.prompt-options {
  background: var(--base);
  margin-top: 18px;
}
.promptOptionsSelector .custom-assistants {
  background: unset;
}
.promptOptionsSelector .custom-assistants li.option,
.promptOptionsSelector .default-assistants li.option {
  color: var(--text);
}
.prompt-options button:hover,
.prompt-options label:hover,
.promptOptionsSelector .custom-assistants li.option:hover,
.promptOptionsSelector .custom-assistants span a:hover,
.promptOptionsSelector .custom-assistants li.option.focus,
.promptOptionsSelector .default-assistants .heading:hover,
.promptOptionsSelector .heading:hover,
.promptOptionsSelector li.option.info-show:not(:hover),
.ki-assistants li.option:not(:hover) {
  background-color: unset !important;
}

.promptOptionsSelector .default-assistants li.option.focus {
  background-color: var(--ai_chat_buble_a_bg) !important;
}

/* Chat Bubble */
.chat_bubble ol[data-ref-list] .contribution {
  border: 1px solid var(--primary-100);
  border-radius: 4px;
  color: var(--base);
  font-size: .75rem;
  line-height: 1.25rem;
  padding: 0 8px;
  background-color: var(--overlay2) !important;
}
.chat_bubble {
  padding-block: 32px;
  position: relative;
  border: 2px solid var(--overlay0);
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: var(--crust);
}
.chat_bubble:focus-within:before,
.chat_bubble:hover:before {
  background-color: unset !important;
}
.chat_bubble .actions {
  display: inline-flex !important;
  gap: 8px !important;
  flex-direction: row !important;
}
#chat_box .chat_bubble .actions [data-action]:is(a, button):hover {
  background: var(--surface1);
}
.citation {
  background-color: var(--surface2) !important;
  color: var(--text) !important;
}

.citation:hover {
  background-color: var(--mauve) !important;
  color: var(--base) !important;
}

.qa-container-box sup {
  background-color: var(--crust) !important;
}

#chat_box .chat_bubble .content sup.trigger {
  background-color: var(--surface2) !important;
  color: var(--text) !important;
  border-radius: 4px;
  padding: 2px 6px;
  top: -0.5em;
}
#chat_box .chat_bubble .content sup.trigger a {
  color: var(--text) !important;
  text-decoration: none !important;
}
#chat_box .chat_bubble .content sup.trigger:hover {
  background-color: var(--mauve) !important;
}
#chat_box .chat_bubble .content sup.trigger:hover a {
  color: var(--base) !important;
}

/* Tooltips */
.k-ui-tooltip,
._0_img-results .item .ai-generated-badge .ai-info,
.tooltip_base,
p.m-0 {
  color: var(--surface0);
}
.tooltip_base {
  color: var(--base) !important;
}
._0_copied_tooltip {
  left: 50% !important;
}
.new-tooltip.dia-tooltip a {
  color: var(--cheatsh_ef9);
  text-decoration: underline;
}
.k-tooltip {
  background-color: var(--primary-100);
}

/* Body / Fonts */
body {
  font-family: Poppins, sans-serif !important;
}

/* Onboarding */
.onboarding-tip {
  background: var(--crust) !important;
}

/* Kite Nav */
.kite-nav ul {
  background-color: var(--ai_chat_buble_a_bg);
}

/* Results Summary */
.results_summary_text_box sup > a {
  color: var(--crust);
}

/* Header */
header .header-btn:hover {
  background-color: var(--background-color-sky);
  color: var(--crust);
}
header {
  background: var(--crust) !important;
}

/* Citations */
.citation .source {
  color: var(--crust);
}

/* Cluster */
.cluster section.did-you-know {
  background-color: var(--box-shadow-15);
}
.cluster section.perspectives ul li {
  background-color: var(--ai_chat_buble_a_bg);
}
.cluster .cluster-header .badge {
  background-color: var(--accent-info);
}

/* Dropdowns */
.k_ui_dropdown_data_list .list_items > ._0_k_ui_dropdown_li:hover {
  background-color: var(--surface2) !important;
}
.dropdown .dd-list ._0_list_items li:hover,
.sidebar-filter-nav-form .sidebar-filter-nav > .filter-item .dd-list li:hover {
  color: var(--overlay0) !important;
}
.k_ui_dropdown_data_list .list_items > div:hover {
  background-color: unset !important;
  color: unset !important;
  outline: 0;
  text-decoration: none;
}

/* Domains */
span.domain,
#chat_box .chat_bubble .sources .domain {
  background-color: var(--surface0) !important;
  color: var(--text) !important;
  padding: 2px 4px !important;
  border-radius: 3px !important;
}
span.__domain-name,
.widget-simple .__domain-name,
.bg-p-50 {
  background-color: var(--surface0) !important;
}

/* Focus */
:focus-visible {
  border-radius: 5px;
  outline: 2px solid var(--peach);
}

/* Sidebar */
.sidebar-box {
  background-color: var(--mantle) !important;
}
.thread-list > li:is(.active, :hover, :focus-within) {
  background-color: var(--surface1) !important;
}
#thread-sidebar-collapse:hover {
  color: var(--crust);
}
.threads-pane .header,
.sidebar-box > .tags-pane {
  background: 0 !important;
}

/* Landing Category Select */
.landing-category-select .landing_cat_buttons > button.--active {
  align-items: center;
  border: 1px solid var(--primary-400);
  border-radius: 999px;
  color: var(--primary-500);
  display: flex;
  flex-shrink: 0;
  gap: 4px;
  padding: 8px 16px;
  background-color: var(--surface0);
  font-weight: 700;
}
.landing-category-select .landing_cat_buttons > button {
  border-bottom: 2px solid transparent;
  color: var(--primary);
  font-size: .875rem;
  height: 47px;
  margin: 0;
  min-width: unset !important;
  padding: 0 8px;
  position: relative;
}
.landing-category-select .landing_cat_buttons > button.n_se.--active,
.landing-category-select .landing_cat_buttons > button.n_se:hover {
  border-bottom: 2px solid var(--nav_n_ma_line) !important;
}
.landing-category-select .landing_cat_buttons > button.n_im.--active,
.landing-category-select .landing_cat_buttons > button.n_im:hover,
.landing-category-select .landing_cat_buttons > button.n_vi.--active,
.landing-category-select .landing_cat_buttons > button.n_vi:hover {
  border-bottom: 2px solid var(--nav_n_vi_line) !important;
}
.landing-category-select .landing_cat_buttons > button.n_ne.--active,
.landing-category-select .landing_cat_buttons > button.n_ne:hover {
  border-bottom: 2px solid var(--nav_n_ne_line) !important;
}
.landing-category-select .landing_cat_buttons > button.n_ma.--active,
.landing-category-select .landing_cat_buttons > button.n_ma:hover {
  border-bottom: 2px solid var(--nav_n_ma_line) !important;
}
.landing_cat_buttons {
  border-bottom: 1px solid var(--primary-200);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 0px;
}
#adv_search_btn:checked + #mainContent .search-form .landing-category-select {
  top: 65px;
}

/* Chat Box */
#chat_box > div:nth-child(1),
[aria-label="You said:"] {
  background-color: var(--surface0) !important;
  padding: 20px !important;
  border: 2px solid var(--overlay0) !important;
  border-radius: 25px !important;
}

/* Message Info */
.message-info li .value {
  background-color: var(--surface0);
  color: var(--text);
  padding: 2px 5px;
  border-radius: 4px;
}

/* Input Fields */
#prompt-box:before {
  border-top: 2px solid var(--peach);
}
#dictation-button:hover {
  color: var(--crust);
}
input[type=date] {
  color: var(--primary-600) !important;
}

/* Filters */
._0_filters-clear-btn {
  color: var(--crust) !important;
}
._0_filters-clear-btn i svg {
  color: var(--base) !important;
}

/* Uploaded Items */
#uploadedItems .item .type,
#uploadedItems .item .icon,
#uploadedItems .item .name {
  color: var(--crust);
}

/* POI Item */
.POI-item-back .text {
  color: var(--crust);
}

/* Privacy Popover */
#popover-privacy > p:nth-child(3) > span > i {
  color: var(--crust) !important;
}

/* Search Results */
.search-result,
.sri-group {
  border-bottom: unset !important;
}
.inline-content + .search-result,
.inline-content + .sri-group {
  border-top: unset !important;
}
.s-f-w.--active .search_area {
  padding: 10px !important;
}
.main-center-box > * {
  margin-inline: auto;
  max-width: 850px;
  padding-inline: 16px;
  width: 100%;
}
.__sri-title .__sri_title_link {
  border-bottom: 0;
}

/* Background Crust Overrides */
#thread-sidebar-visible:checked ~ #sidebar-backdrop,
.quick-settings,
.quick-settings-footer,
.promptOptionsSelector,
.promptOptionsSelector .search-bar,
.k_ui_dropdown_data_list,
._0_more_search_box,
.dropdown .dd-list,
.chat_bubble .actions,
.citation,
.message-info,
.thread-more-menu,
.threads-pane {
  background-color: var(--crust) !important;
}

/* Lenses */
._0_lenses {
  background-color: unset !important;
}

/* Mobile Internet Access */
#internet-access-mobile:has(:checked) {
  color: var(--surface0);
}

/* Team Badge */
.team_badge {
  color: var(--crust);
}

/* Image Preview */
#PreviewImageViewImageBtn,
#PreviewImageViewPageBtn {
  color: unset !important;
}

/* Media Queries */
@media (min-width: 1280px) {
  #promptBox:placeholder-shown + .rich-placeholder {
    padding-left: 25px;
  }
}

@media all and (min-device-width: 766px) {
  form#form {
    margin: 0;
    border: 1px var(--peach) solid;
    border-radius: 35px;
    padding: 12px 20px;
  }
  ._0_more_search_box {
    max-width: 300px;
    width: unset;
  }
}

@media all and (max-device-width: 766px) {
  .cluster section.did-you-know {
    background-color: var(--box-shadow-15);
  }
  .cluster section.perspectives ul li {
    background-color: var(--ai_chat_buble_a_bg);
  }
  .cluster .cluster-header .badge {
    background-color: var(--accent-info);
  }
  .bg-p-50 {
    background-color: var(--surface0);
  }
  body:not(._0_processing) #form:has(#promptBox:placeholder-shown):has(#uploadedItems:empty) #submit {
    color: var(--surface0);
  }
  .landing-category-select .landing_cat_buttons > button.--active {
    align-items: center;
    border: 1px solid var(--primary-400);
    border-radius: 999px;
    color: var(--primary-500);
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    padding: 8px 16px;
    background-color: var(--surface0);
    font-weight: 700;
  }
  .landing-category-select .landing_cat_buttons > button {
    border: 0;
    color: var(--primary);
    font-size: .875rem;
    height: 47px;
    margin: 0;
    min-width: unset !important;
    padding: 0 8px;
    position: relative;
  }
  #thread-sidebar-visible:checked ~ #sidebar-backdrop {
    background-color: unset !important;
  }
  .chat_bubble .actions,
  .editing .actions {
    border-radius: 10%;
    color: var(--primary-600);
    display: flex;
    padding: 4px;
  }
  .landing_cat_buttons {
    border-bottom: 0 !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #adv_search_btn:checked + #mainContent .search-form .landing-category-select {
    top: 85px;
  }
}
