/* Kagi Darker by realrogue. Version 3.0 */

/* Define custom colours here. Most important ones are labeled at the top. */
:root {
	--app-text: #abb2bf !important; /* Title Color */
	--app-search-text: #5c6370; /* Text Color */
	--app-bg: #1a1d22; /* Main Background Color */
	--primary-25: #282c34; /* Search result and widget Background Color */
	--button-color: rgba(150, 171, 250, 0.8); /* Button Colors */
	--button-hover-color: rgba(102, 132, 244, 0.8); /* Button hover color*/
	--kagi-accent: #212533!important; /* list item highlight */
	--source-highlight-color: rgba(150, 171, 250, 0.8);
	--sri-hover-color: rgb(65, 144, 226);
	--color-search-input: #0f1013;
	--color-search-input-border: var(--graphite-900);
	--time-stamp: rgba(69, 69, 73, 0.8);
	--m_sri_gap_color: #222222 !important;
	--nav_n_se_line: #0194ff; /* Accent under "web" tab */
	--nav_n_im_line: #f4b644; /* Accent under "images" tab */
	--dd-list-input-bg:#0f1013!important;
}

.mob {
    zoom: 0.8; /* critical to fix layout issues on mobile */
}

:focus-visible {
	outline: 2px solid var(--button-hover-color);
}
.widget-simple .widgetItem {
	border-radius: 15px;
}
.widget-simple .widgetItemTitle .__title-text:hover {
	color: var(--purple-500);
	text-decoration: none;
	transition: all 0.2s ease;
}
.widget-simple .widgetItemTitle .__title-text {
	color: var(--primary);
}
.widget-simple .__domain-name:hover {
    background-color: var(--button-color);
    color: var(--primary-25);
    transition: all 0.2s ease;
}
.widgetContent .widgetItems .widgetItem:hover {
	background-color: #1c1e24;
}
.widgetContent .widgetItems .widgetItem {
	background-color: #000;
	transition: all 0.5s ease;
	padding-bottom: 5px;
	border-radius:15px;
}
.widgetItem .videoResultThumbnail img {
	border-radius: 15px 0 0 15px;
}
.mob .widgetItem .videoResultThumbnail img {
	border-radius: 0;
}
.widgetItem .videoResultThumbnail {
    background:none;
}
#quickPeekResults .inlineHeader,
#quickPeekResults details {
	border-bottom: 0.5px dashed var(--inline-header-border);
}
.__sri-title:hover {
	color: var(--purple-500);
	transition: all 0.2s ease;
}
._0_k_ui_dropdown_data_list {
	z-index: 200!important;
}
.k_ui_dropdown_data_list {
	background-color: var(--primary-25);
	border: 1px solid var(--as-dd-border);
	border-radius: 12px;
	box-shadow: 1px 8px 30px 10px rgba(0, 0, 0, 0.9);
	gap: 6px;
	padding-inline: 10px;
}
.k_ui_dropdown_data_list .list_items > ._0_k_ui_dropdown_li,
.k_ui_dropdown_data_list .list_items > a,
.k_ui_dropdown_data_list .list_items > div {
	align-items: center;
	border-radius: 9px;
	transition: background-color 0.1s ease-in-out;
	border: 1px solid transparent;
}
.k_ui_dropdown_data_list .list_items > ._0_k_ui_dropdown_li.__hover,
.k_ui_dropdown_data_list .list_items > ._0_k_ui_dropdown_li:focus-visible,
.k_ui_dropdown_data_list .list_items > ._0_k_ui_dropdown_li:hover,
.k_ui_dropdown_data_list .list_items > a.__hover,
.k_ui_dropdown_data_list .list_items > a:focus-visible,
.k_ui_dropdown_data_list .list_items > a:hover,
.k_ui_dropdown_data_list .list_items > div.__hover,
.k_ui_dropdown_data_list .list_items > div:focus-visible,
.k_ui_dropdown_data_list .list_items > div:hover {
	background-color: var(--kagi-accent);
	border: 1px solid var(--button-hover-color);
}
.__sri_more_menu._0_k_ui_dropdown hr {
    border-top: none!important;
}
/*Fix Kagi bug of more search not aligning correctly*/
._0_more_search_dropdown .k_ui_dropdown_data_list {
	top: 30px!important;
	right: 10px!important;
}
._0_more_search_box {
	border: 1px solid var(--as-dd-border);
	border-radius: 12px;
	box-shadow: 1px 8px 30px 10px rgba(0, 0, 0, 0.9);
	background-color: var(--primary-25);
}
.mob #menu-advanced-search .k_ui_dropdown_data_list {
	width:70vw;
}
#menu-advanced-search-toggle:hover {
    color: var(--purple-500)!important;
}
.advanced-search-modal-backdrop {
	z-index: 116!important;
}
.advanced-search-modal {
    box-shadow: 1px 8px 30px 10px rgba(0, 0, 0, 0.9);
    border: 2px solid var(--primary-25);
}
.k_ui_dropdown_data_sort_list_wrpr {
	padding: 10px 0!important;
	left:0;
}
#domainInfoModal {
   	border: 1px solid var(--as-dd-border);
	border-radius: 12px;
	box-shadow: 1px 8px 30px 10px rgba(0, 0, 0, 0.9);
}
.d-info-box-title-header {
	background: #a5d46a;
}
.d-info-box-title-header.--trackers {
	background: #ffdf80;
}
.d-info-box-title-header.--trackers-danger {
	background: #ffa080;
}
.k_ui_btn_group {
	border: none;
	background-color: var(--app-bg);
}
.k_ui_btn_group .k_ui_btn.--active, .k_ui_btn_group .k_ui_btn:hover {
    background-color: var(--button-color);
    transition: all 0.2s ease;
    color: var(--app-text)
}
.k_ui_btn_group input:checked+.k_ui_btn {
    background-color: var(--button-hover-color);
    transition: all 0.2s ease;
    color: var(--app-text)
}
.advanced-search-modal-backdrop::before {
	background-color: #121213;
}
.auto_suggestions {
	transition: all 0.2s ease;
	box-shadow: 0 25px 30px 10px black;
	/*background-color: rgba(0,0,0,0.95);*/
}
/*.auto_suggestions .auto_suggestions_in {
    border-top:none;
}*/
a.wiki-nw-link {
	background-color: var(--inline-domain-tag-bg);
	border-radius: 8px;
	margin-top: 10px;
	padding: 5px;
	transition: all 0.5s ease;
}
a.wiki-nw-link:hover {
	background-color: var(--button-hover-color);
	color: var(--primary-25);
}
.wiki-nw-link {
	color: var(--app-search-text) !important;
}
.wiki-nw-link:hover {
	color: var(--primary-25);
}
.top-panel {
	margin-top: -10px;
}
.dropdown.dd_clean .dd-toggle-label {
	transition: all 0.5s ease;
}
.dropdown.dd_clean .dd-toggle-label:hover {
	color: var(--purple-500) !important;
	transition: all 0.2s ease;
}
.dropdown.dd_clean .dd-toggle-label._0_selected {
    color: var(--button-color);
}
._0_filters-panel {
	background-color: unset;
	/*border-radius: 12px;
	padding-left: 15px;
	margin-right: 10px;
	margin-bottom: 5px;*/
	margin-bottom:10px;
}
.mob ._0_filters-panel {
	margin: 10px 0 5px;
}
.d-info-section,
.question_form_box .q_form_wrapper {
	background-color: var(--primary-25);
}
.d-info-body {
	background-color: var(--app-bg);
}
.d-info-section-desc.col {
	background-color: transparent;
}
._0_result_page_summary {
	background-color: var(--app-bg);
	padding: 8px;
	border-radius: 5px;
	border: 0.5px dashed var(--button-color);
	line-height: 1.5rem;
}
.image-preview-wrapper {
    background-color:var(--app-bg)
}
.image-preview-wrapper .image-preview-footer {
    background-color: var(--primary-25);
}
.image-preview-wrapper .image-preview-footer .image-preview-info-body {
    margin:10px;
}
.image-preview-wrapper .image-preview-footer .image-preview-info-body .ranked-icon {
    background-color: var(--inline-domain-tag-bg)!important;
}
.image-preview-wrapper .image-preview-footer .image-preview-info-body .ranked-icon:hover {
    background-color: var(--button-color)!important;
    transition: all 0.2s ease;
}
.image-preview-wrapper #PreviewImageUrl {
    background-color: var(--inline-domain-tag-bg);
    border-radius: 4px;
    color: var(--app-text);
    min-width: max-content;
    padding: 7px 5px 0;
    margin-top:5px;
    text-decoration: none;
}
.image-preview-wrapper #PreviewImageUrl:hover {
    background-color: var(--button-color);
    color: var(--primary-25);
    transition: all 0.2s ease;
}
.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageViewImageBtn {
    background-color: var(--button-hover-color);
    border: 1px solid transparent;
}
.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageViewImageBtn:hover {
    background-color: var(--primary-25);
    border: 1px solid var(--button-hover-color);
    transition: all 0.2s ease;
}
.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageDownloadImageBtn:hover {
    background-color: var(--primary-25);
    border: 1px solid var(--button-hover-color);
}
.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageViewPageBtn {
    padding: 0 20px;
    border: 1px solid transparent;
}
.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageViewPageBtn:hover {
    background-color: var(--primary-25);
    border: 1px solid var(--button-hover-color);
   	transition: all 0.2s ease,
}
.ranked-c-adjust-info-icon:not(.new-tooltip) .k-tooltip:after,
.tooltip-trigger:not(.new-tooltip) .k-tooltip:after {
	border-top: 8px solid var(--secondary);
}
.newsResultItem .newsResultHeader .sourceAndTime {
	border-radius: 5px;
	padding: 8px;
}
.instant-answer {
	padding-bottom: 10px;
	padding-left: 14px;
	background-color: var(--primary-25);
	border-radius: 12px;
	margin-bottom: 30px;
	box-shadow:
		rgba(244, 182, 68, 0.4) 5px 5px,
		rgba(244, 182, 68, 0.3) 10px 10px,
		rgba(244, 182, 68, 0.2) 15px 15px,
		rgba(244, 182, 68, 0.1) 20px 20px;
}
.ext_icon {
	border: 1px solid var(--button-color);
}
.result-comments .comment {
	background-color: var(--button-color);
	color: var(--primary-25);
	border-radius: 10px;
	padding: 5px;
	margin: 0 auto;
}
.result-comments {
	margin-top: 15px;
}
.result-comments .comment:hover {
	background-color: var(--button-hover-color);
}
.top_podcast_item {
	width: 130px;
	background-color: var(--primary-25);
	padding: 10px;
	border-radius: 12px;
}
.top_podcast_item:hover {
	text-decoration: none;
}
.__sri-url-box {
	margin-bottom: 8px;
}
.__sri-url:hover {
   	color: var(--purple-500) !important;
	transition: all 0.2s ease;
}
.videoResultItem {
	background-color: #0e0f13;
	padding:1rem;
	border-radius:5px;
}
.auto_suggestions .auto_item {
	transition: all 0.5s ease;
}
.auto_suggestions .auto_item.highlighted {
	background-color: var(--kagi-accent);
}
.videoResultItem
	.videoResultRight
	.videoResultInfo
	.videoPublished
	.videoPublishedDate {
	background-color: var(--time-stamp);
	color: var(--app-search-text);
	border-radius: 5px;
	padding: 0 6px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	user-select: none;
}
.videoResultItem
	.videoResultRight
	.videoResultInfo
	.videoPublished
	.videoPublishedDate:hover {
	background-color: var(--button-color);
	color: var(--primary-25);
}
.videoResultItem .videoResultRight .videoResultInfo .videoPublishedDate,
.videoResultItem .videoResultRight .videoResultInfo .videoViewsCount {
	background-color: var(--time-stamp);
	color: var(--app-search-text);
	border-radius: 5px;
	padding: 0 6px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	user-select: none;
}
.videoResultItem .videoResultRight .videoResultInfo .videoPublishedDate:hover,
.videoResultItem .videoResultRight .videoResultInfo .videoViewsCount:hover {
	background-color: var(--button-color);
	color: var(--primary-25);
}
.videoResultTitle:hover, .videoPublisher:hover {
	color: var(--purple-500) !important;
	transition: all 0.2s ease;
}
.mob .videos {
    gap:0!important;
}
.newsResultItem {
	background-color: var(--primary-25);
	border-radius: 12px;
	padding: 1.2rem 22px 0.7rem 18px;

}
.newsResultItem:first-child {
	padding-top: 1.2rem;
}
.newsResultItem .newsResultTime {
	background-color: var(--time-stamp);
	color: var(--app-search-text);
	border-radius: 5px;
	padding: 0 6px;
	user-select: none;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
.newsResultItem .newsResultTime:hover {
	background-color: var(--button-color);
	color: var(--primary-25);
}
.podcast_result {
	background-color: var(--primary-25);
	border-radius: 12px;
	padding: 1.2rem 22px 0.7rem 18px;
}
.podcast_result .body .thumbnail img {
	transition: box-shadow 0.5s ease;
}
.podcast_result .body .thumbnail img:hover {
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.podcast_result .body {
	margin-top: 0;
}
.podcast_result .title a {
	transition: all 0.5s ease;
}
.podcast_result .episode_meta > div + div,
.podcast_result .body .content .podcast_publisher,
.podcast_result .podcast_duration {
	background-color: var(--time-stamp);
	color: var(--app-search-text);
	border-radius: 5px;
	padding: 0 6px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	user-select: none;
}
.podcast_result .episode_meta > div + div:hover,
.podcast_result .body .content .podcast_publisher:hover,
.podcast_result .podcast_duration:hover {
	background-color: var(--button-color);
	color: var(--primary-25);
}
.podcast_result .body .content .podcast_publisher i {
	color: var(--app-search-text);
	transition: color 0.3s ease;
}
.podcast_result .body .content .podcast_publisher:hover i {
	color: var(--primary-25);
}
.widget-time-ago {
	background-color: var(--button-color);
	color: var(--primary-25);
	user-select: none;
	border-radius: 5px;
	display: inline-block;
	padding: 0 6px;
	margin-bottom: auto;
	margin-top: auto;
}
.app-header.app-content-box {
	position: sticky;
	top: 0;
	z-index: 114;
	background: rgba(4, 4, 5, 0.7);
	border-radius: 0 0 20px 20px;
	box-shadow: 0 10px 30px #000;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255,255,255,0.1);
}
.quick-settings {
    /*background: var(--color-search-input);
	border-bottom-left-radius: 16px;
	border-top-left-radius: 16px;*/
	border-radius: 16px 0 0 16px;
	/*box-shadow: -25px 0 30px 10px black;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);*/
	border: 1px solid var(--color-search-input-border);
	/*margin-top: 10px;*/
    padding: 10px 5px;
}
/*.quick-settings-footer {
	border-top: 1px solid var(--button-color);
	border-radius: 8px;
}*/
.sri-group .sr-group {
	padding-left: 30px !important;
	padding-bottom: 10px;
	margin-top:0;
}
.sr-group {
	padding-right: 15px;
}
.__sri-body {
	margin-bottom: 15px;
}
.correctedQuery {
	line-height: 2;
}
.wikipedia_results {
	background-color: var(--primary-25);
}
.wiki_desc_text {
	line-height: 1.55;
}
.definition {
	padding: 15px;
}
.widget#dictionary .definition .dict-group {
	border-bottom: 0.5px dashed #555;
}

.app-box {
	background-color: var(--app-bg);
} /*background color main*/
/*.app-box-center {
	margin-top: 0.5rem;
}*/
.read-more-inline {
	background-color: var(--button-color);
	color: var(--primary-25);
	border-radius: 10px;
	padding: 2px 8px;
}
.read-more-inline:hover {
	background-color: var(--button-hover-color);
	color: var(--primary-25);
}
.read-more-inline svg {
	color: var(--primary-25);
	transition: all 0.6s ease;
}
.read-more-inline:hover svg {
	color: var(--primary-25);
}
._0_results_summary_text {
	color: #b3b7bb;
}
.__sri-time {
	background-color: var(--time-stamp);
	color: var(--app-search-text);
	user-select: none;
}
.__sri-time.--new {
	background-color: var(--time-stamp);
	color: var(--app-search-text);
	user-select: none;
}
.sri-group,
.search-result,
.scene {
	background-color: var(--primary-25);
	border-radius: 15px;
}
.scene {
	padding: 1rem;
}

body,
html,
.mob {
	background-color: var(--app-bg);
	font-family: var(--font-lufga), system-ui;
}
.search-result {
	padding: 1.2rem 22px 0.7rem 18px;

}
.widgetContent {
	background-color: var(--primary-25);
	border-radius: 12px;
	padding: 0.5rem 22px 0.7rem 18px;
} /*background color widget*/
.serp-nav .nav_item {
	position: relative;
}

._0_more_search_box {
	text-align: center;
	/*width: 80%;*/
}
.__sri_title_link._0_sri_title_link._0_URL {
	border-bottom: none !important;
}
.theme_moon_dark {
	--search-result-url-link: #666;
	--search-result-title: #ccc;
}
.__sri-desc {
	color: var(--app-search-text);
}
.__srgi-title a {
	border-bottom: none !important;
}

/*mobile fixes*/
.mob .search-result,
.sri-group {
	border-bottom: none !important;
}
.mob .inline-content + .search-result,
.inline-content + .sri-group {
	border-top: none !important;
	margin-top: 20px;
}
.mob .sri-group, .mob ._0_SRI {
	border-top: none !important;
	margin: 10px;
}
.mob .sri-group .sr-group {
	padding-left: 25px !important;
	padding-bottom: 0px;
}
.mob .widgetContent {
    margin: 20px 10px 0 10px;
    border-radius:15px;
}
.mob .top-panel {
	margin: 10px 0 -10px 0;
}
.mob .serp-nav {
	margin-top: 10px;
}
.mob .videoResultRight {
	margin-right: 20px;
}
.mob {
	overflow-x: hidden !important;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
.mob .s-f-w.--active .search-form-icons {
    margin-right:0!important;
}
.mob .serp-nav {
    padding-left:1em;
}
.s-f-w.--active .auto_suggestions {
    top:65px;
}

/*end*/

html {
	overflow-x: hidden;
}

.newsResultItem .newsResultHeader .newsResultTitle a._0_TITLE {
	border-bottom: none !important;
}
.wikipediaResult a {
	border-bottom: none !important;
	color: var(--button-color);
}
._0_results_summary_box {
	border-bottom: none !important;
	margin-bottom: 30px;
	background-color: var(--primary-25);
	border-radius: 22px;
	padding: 20px;
}
.results_summary_text_box:has(#qa_show_more:not(:checked)) .smw::before {
	background: linear-gradient(transparent, var(--primary-25));
}
._0_summarize_link {
	background-color: var(--button-color);
	max-width: max-content;
	margin-bottom: 10px;
	margin-top: 3px;
	border-radius: 10px !important;
	padding: 5px 10px;
}
._0_summarize_link:hover {
	background-color: var(--button-hover-color);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease;
}
._0_summarize_link svg {
	transition: all 0.6s ease !important;
}
._0_summarize_link,
._0_summarize_link a {
	color: #232325 !important;
}
.top-content .top-content ._0_provider-content {
	display: none !important;
}
.mob ._0_provider-content .list-widget .inline-content .clearfix {
    margin-bottom: 40px;
}
.results_summary_text_box sup a {
	border-radius: 100%;
	background-color: #2d2f2f;
	color: #8d9191;
	padding: 1px 4px;
	width: 18px;
	text-align: center;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
.results_summary_text_box sup a:hover {
	background-color: var(--source-highlight-color);
	color: #f2fcfc;
	transition: all 0.5s ease;
}
.results_summary_text_box sup .tooltip {
    z-index:1000!important;
    color:white;
}
.citation .source {
    display: inline-flex;
}
/*._0_results_summary_links {
	margin-bottom: 30px;
	}*/
._0_results_summary_links a {
	transition:
		color 0.3s ease-in-out,
		transform 0.3s ease-in-out;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
}
._0_results_summary_links a.__0_highlight,
._0_results_summary_links a:hover {
	background-color: var(--source-highlight-color);
	color: var(--resultsummary-highlight_text);
}
._0_results_summary_links .__domain-name {
	user-select: none;
}
.widget .wasb {
	background-color: var(--primary-25);
}
.wasb-title {
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 450;
}
.wolfram-answer {
	background-color: var(--primary-25);
	margin-bottom: 25px;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
._0_discuss_document_btn {
	background-color: var(--button-color);
	color: var(--primary-25);
	border-radius: 10px;
	padding: 2px 8px;
	max-width: max-content;
	position: relative;
	margin-top: 1rem;
}
._0_discuss_document_btn:hover {
	background-color: var(--button-hover-color);
	color: var(--primary-25);
}
._0_discuss_document_btn svg {
	transition: all 0.6s ease;
}
.smw {
	background-color: var(--button-color);
	color: var(--primary-25);
	border-radius: 10px;
	padding: 5px 10px;
	max-width: max-content;
	position: relative;
	margin: 0 auto;
	user-select: none;
}
.smw:hover {
	background-color: var(--button-hover-color);
	color: var(--primary-25);
}
.smw svg {
	transition: all 0.6s ease;
}
._0_results_summary_link_to_IA a:hover {
	background-color: var(--button-hover-color);
	text-decoration: none;
}
._0_results_summary_link_to_IA {
    padding: 5px 0 15px 0;
    justify-content: space-evenly;
}
._0_results_summary_link_to_IA a {
    text-decoration: none;
    background-color: var(--button-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--btn-primary-color);
}
.results_summary_text_box:has(#qa_show_more:not(:checked)) .smw::before {
	background: linear-gradient(transparent, var(--primary-25));
}
.ks-tooltip-body {
	background-color: var(--k-tooltip-text);
	color: var(--app-text);
}
.ia-tooltip-body__desc,
.ia-tooltip-body__desc__title {
	color: var(--app-text);
}
.tooltip_base {
	color: var(--k-tooltip-bg);
	background-color: var(--k-tooltip-text);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	width: 500px;
	z-index: 115;
}
[data-arrow] {
	background-color: var(--k-tooltip-text);
}
.related-items a {
	background-color: var(--primary-25);
	transition: all 0.5s ease;
}
.footer-search-results #load_more_results,
.btn.--primary {
	transition: all 0.5s ease;
}
.ranked-c-adjust-info-icon:not(.new-tooltip) .k-tooltip,
.tooltip-trigger:not(.new-tooltip) .k-tooltip {
	background-color: var(--k-tooltip-text);
	color: var(--app-text);
}
/*.search-form .search-input-container,
.search-form .search-input-container-kids {
	box-shadow: 1px 8px 30px 0 rgba(0, 0, 0, 0.9);
}*/
.paywall-icon .paywall-tooltip {
	color: var(--k-tooltip-bg);
	background-color: var(--k-tooltip-text);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.btn.--secondary-light-s:hover {
	border: 1px solid var(--primary-hover);
	color: var(--primary-hover);
	transition: all 0.5s ease;
}
.inlineHeader {
	transition: all 0.5s ease;
}
.ranked-c-adjust-info-icon:not(.new-tooltip) .k-tooltip:after,
.tooltip-trigger:not(.new-tooltip) .k-tooltip:after {
	border-top: 8px solid var(--secondary);
}
.auto_suggestions_lenses_edit_box:hover {
	background-color: var(--sri-hover-color);
}
.top_podcast_item {
	width: 130px;
	background-color: var(--primary-25);
	padding: 10px;
	border-radius: 12px;
}
.widget-time-ago {
	background-color: var(--button-color);
	color: var(--primary-25);
	user-select: none;
	border-radius: 5px;
	display: inline-block;
	padding: 0 6px;
	margin-bottom: auto;
	margin-top: auto;
}
.podcast_result {
	background-color: var(--primary-25);
	border-radius: 12px;
	padding-top: 1.2rem;
	padding-right: 22px;
	padding-bottom: 0.7rem;
	padding-left: 18px;
}
.scene {
	padding: 1rem;
}
._0_queryInfo {
	display: none;
}
.top_nav_links > a {
	background-color: var(--button-color);
	padding-left: 20px;
	border-radius: 20px;
	color: #232325 !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease;
	padding-right: 20px;
	height: 40px;
}
.top_nav_links > a:hover {
	background-color: var(--button-hover-color);
}
#settings_showFiltersPanel:checked ~ .top-panel #top-parent {
	margin-left: 3px;
}
.cheatsh .content {
	background-color: var(--primary-25);
	border-radius: 5px;
}
.cheatsh .cheatsh_content_wrpr::after {
	background-color: var(--primary-25);
}
.cheatsh .code {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.clear-search {
	margin-right: 10px;
}
.clear-search:hover {
	background-color: var(--kagi-accent);
	border-radius: 5px;
	transition: all 0.5s ease;
}
.mob .clear-search:hover {
	border-radius: 20px;
}
.search-input-container .btn {
	background-color: var(--kagi-accent);
	transition: all 0.5s ease;
}
.search-input-container .btn:hover {
	background-color: var(--button-hover-color);
	transition: all 0.5s ease !important;
}
.mob .search-input-container .btn {
	border-radius: 20px;
}
.search-input-box {
	padding:5px;
}
.sfi_sep {
	display: none;
}
.img_search_state_checkbox_label {
	border-radius: 5px;
	margin-right: 10px;
	margin-left: 0px;
	padding: 7px;
	transition: all 0.5s ease;
}
.img_search_state_checkbox_label:hover {
	background-color: var(--kagi-accent);
	transition: all 0.5s ease !important;
}
#tonav {
	border-bottom: 0 !important;
}

#searchFormSubmit {
    border-radius: 30em;
    margin-right: -13px;
    width: 5em;
    height: 3em;
}
.mob #searchFormSubmit {
    margin-right: -11px;
}
#clear_searchBar {
    height: 3em;
    border-radius: 10em;
    width: 3em;
    margin-right: 5px;
    opacity: 50%;
}
._0_main-search-results {
    margin-top:10px;
}
.m-h .m-h-i {
    height:80px;
    padding:20px;
}
.user-auth-bar {
    margin: 10px;
}
.app-logo.--kagi {
    top:23px;
}

/* KAGI ASSISTANT */

.chat_bubble {
    padding: 30px;
    background-color: var(--primary-25);
    margin: 20px 0;
    border-radius: 15px;
}
.chat_bubble .model {
    margin-bottom: 10px;
}

#chat_box {
    margin-bottom: 50px;
}
#prompt-box {
    flex-grow: unset!important;
    bottom: 0;
    margin-top: auto;
    padding-bottom: calc(8px + env(safe-area-inset-bottom));
    position: sticky;
    z-index: 101;
    background: rgba(4, 4, 5, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px 16px 0 0;
}
.main-center-box>* {
    margin-inline: auto;
    max-width: 812px;
    padding-left: calc(16px + env(safe-area-inset-left));
    padding-right: calc(16px + env(safe-area-inset-right));
    width: 100%;
}
#form {
    padding: 0 30px 20px 30px;
}
.sidebar-box>.tags-pane {
    background: var(--color-search-input);
}
#prompt-box-focus-hint {
    display: none!important;
}

.mob #prompt-box {
    flex-grow: 1;
    background: none;
    border: none;
}
.mob #form {
    background: rgba(4, 4, 5, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    padding: 5px 10px 10px 10px;
}

