/* Formatted version of https://github.com/pdanzma/kage-css */
/* need to be compressed before pasting */
@keyframes fadeInCLS {
  0% {
    opacity: 0;
    transform: scale(.98)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes moveBackground {
  0%,
  to {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(7%, 10%)
  }
}

@keyframes microGridMove {
  0% {
    background-position: 0 0, 0 0
  }

  to {
    background-position: 30px 30px, -30px -30px
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0 0
  }

  to {
    background-position: -100%0
  }
}

:root {
  --bg-primary: #17191e;
  --bg-secondary: #1a1b22;
  --bg-tertiary: #1e2028;
  --bg-container: #24252f;
  --bg-elevated: #2a2b36;
  --bg-modal: #121213;
  --bg-dropdown: #34373f;
  --bg-special: #28282a;
  --bg-citation: #2d2f2f;
  --bg-separator: #222;
  --text-primary: #eaeaea;
  --text-secondary: #a0a0b4;
  --text-muted: #b3b7bb;
  --text-citation: #8d9191;
  --text-dark: #1b1b1b;
  --text-very-dark: #232325;
  --text-light: #fdfdfd;
  --button-bg: #6b7280;
  --button-hover: #9ca3af;
  --link-visited: #8b89a3;
  --link-hover: #9ca3af;
  --source-highlight-color: #a1a1aa;
  --theme-switch-hover: #2a2d38;
  --status-good: #a5d46a;
  --status-mid: #ffdf80;
  --status-danger: #ffa080;
  --auto-suggestion: #1ded8333;
  --timestamp-bg: #313135cc;
  --backdrop-fallback: #1e2028f2;
  --dropdown-bg: #1e202852;
  --border-thread: #fff47;
  --shadow-medium: #0003;
  --shadow-strong: #0006;
  --shadow-dark: #0009;
  --shadow-very-dark: #000b3;
  --purple-300: var(--text-primary);
  --primary-visited: var(--link-visited);
  --color-search-input: var(--bg-primary);
  --color-search-input-border: var(--bg-separator);
  --m_sri_gap_color: var(--bg-separator) !important;
  --app-text: var(--text-primary) !important;
  --secondary-text: var(--text-secondary);
  --app-bg: var(--bg-secondary);
  --inline-widget-bg: #var(--bg-tertiary);
  --primary-25: var(--bg-tertiary);
  --primary-50: var(--bg-tertiary);
  --secondary-bg: var(--bg-tertiary);
  --hover-bg: color-mix(in srgb, var(--bg-dropdown) 20%, transparent);
  --primary-hover: var(--text-secondary);
  --gpu-acceleration: translate3d(0, 0, 0);
  --primary: var(--text-primary)
}

.mob,
[data-path="/images"] body,
[data-path="/videos"] body,
body,
html {
  background-color: var(--bg-primary);
  font-family: Lufga, system-ui
}

.my-7 {
  margin-bottom: 5px;
  margin-top: 5px
}

a {
  text-decoration: none !important
}

#chat_box .chat_bubble .model,
.chat_bubble {
  border-radius: 5px;
  box-shadow: 0 8px 15px var(--shadow-strong)
}

.chat_bubble,
.widget#translate {
  background-color: var(--bg-tertiary)
}

.chat_bubble {
  padding: 1rem;
  margin-top: 1.3rem
}

#chat_box .chat_bubble .model {
  max-width: fit-content;
  height: 24px;
  padding: 0 8px;
  user-select: none;
  margin-bottom: .8rem
}

.chat_bubble .sources .contribution,
.chat_bubble .sources .domain {
  background-color: var(--timestamp-bg)
}

.chat_bubble .sources .contribution {
  border: 0;
  margin-left: .5rem
}

.chat_bubble .content sup {
  transition: background-color .3s ease, color .3s ease;
  background-color: var(--bg-special)
}

.chat_bubble .actions {
  background: var(--dropdown-bg);
  border: 1px solid var(--text-dark);
  backdrop-filter: blur(12px) saturate(50%);
  -webkit-backdrop-filter: blur(12px) saturate(50%);
  border: 0
}

.promptOptionsSelector .custom-assistants li.option[aria-selected=true]:hover .center,
.promptOptionsSelector .default-assistants li.option[aria-selected=true]:hover .center,
.promptOptionsSelector .recommended-assistants li.option[aria-selected=true]:hover .center,
.promptOptionsSelector li.option[aria-selected=true] .center {
  color: var(--text-dark)
}

.widget#translate {
  padding: 15px;
  border-radius: 5px
}

.widget#translate .tbox .icons .fc {
  background-color: var(--bg-primary);
  padding: 5px;
  border-radius: 100%;
  transition: color .3s ease
}

.citation>a>b,
.videos .top_media_item:hover,
.widget#translate .tbox .icons .fc:hover {
  color: var(--primary)
}

.widget#translate .tbox-sep {
  border-radius: 100%;
  transition: background-color .3s ease, color .3s ease;
  padding: 5px;
  margin: 0 10px
}

#inline_map .info_box {
  background-color: var(--bg-tertiary);
  border-radius: inherit;
  margin-top: 1rem
}

#inline_map .static_map {
  border-radius: 10px
}

.k_ui_dropdown.__basic,
input:where(:not([type=checkbox], [type=radio])),
textarea {
  background-color: var(--bg-primary);
  border: 0
}

.top_media_item {
  background-color: var(--bg-primary);
  border-radius: 10px;
  padding: 0 0 .5rem;
  transition: all .3s ease
}

.top_media_item:hover {
  box-shadow: 0 8px 15px var(--shadow-medium);
  transform: translateY(-3px)
}

.top_media_item_title {
  margin: 9px 0 0 .4rem
}

.auto_suggestions .auto_item.bold {
  background-color: var(--auto-suggestion)
}

.k_ui_dropdown.__basic .k_ui_dropdown_data_list {
  background: var(--dropdown-bg);
  backdrop-filter: blur(12px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);
  background-clip: padding-box;
  border: 1px solid var(--text-dark)
}

@media (min-width:767px) {
  .dropdown .dd-list {
    z-index: 1
  }
}

.dropdown .dd-list li {
  border-radius: 9px
}

.dropdown .dd-list input[type=search] {
  transform: var(--gpu-acceleration);
  -webkit-transform: var(--gpu-acceleration);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.k_ui_dropdown_data_list {
  background-color: var(--bg-modal);
  border-radius: 12px;
  box-shadow: 1px 8px 30px 0#00017;
  gap: 6px;
  padding-block: 20px;
  padding-inline: 10px;
  right: 1.75rem;
  border: 0
}

.scene .cardHistory ._0_cardHistoryBack svg {
  margin-bottom: 25px;
  background: var(--button-bg);
  border-radius: 100%;
  color: var(--bg-tertiary)
}

.right-content-box {
  position: relative;
  z-index: 1 !important;
  transition: margin-left .5s ease
}

html[data-path="/news"] .ranked-box-wrapper {
  margin-left: 1rem
}

html[data-path="/videos"] .ranked-box-wrapper {
  margin-left: -23rem
}

html[data-path="/landing"] .more_search_dropdown_box .k_ui_dropdown_data_list {
  right: -8rem
}

body:has(#domainInfoModal.ranked-box-overlay.--open) .right-content-box {
  margin-left: 23rem
}

body:has(.__sri_more_menu._0_k_ui_dropdown.k_ui_dropdown[aria-expanded=true]) .right-content-box {
  margin-left: 20rem
}

body._0_auto-sug .land_adv_search_btn {
  visibility: hidden
}

.widget-simple .__domain-name {
  background-color: var(--bg-primary);
  color: var(--text-muted)
}

#quickPeekResults .inlineHeader,
#quickPeekResults details {
  border-bottom: .5px dashed var(--inline-header-border)
}

.k_ui_dropdown_data_list .list_items>._0_k_ui_dropdown_li,
.k_ui_dropdown_data_list .list_items>a,
.k_ui_dropdown_data_list .list_items>div {
  align-items: center;
  background-color: transparent;
  border-radius: 9px;
  transition: background-color .1s ease-in-out, color .1s ease-in-out
}

.k_ui_toggle_switch {
  color: var(--text-secondary);
  transition: all .3s ease;
  --border-color: var(--text-secondary)
}

.d-info-box-title-header {
  background: var(--status-good)
}

.d-info-box-title-header.--trackers {
  background: var(--status-mid)
}

.d-info-box-title-header.--trackers-danger {
  background: var(--status-danger)
}

.k_ui_btn_group {
  border: 0;
  background-color: var(--bg-secondary)
}

.image-preview-wrapper #PreviewImageUrl {
  border-radius: 8px;
  margin-top: 10px;
  padding: 5px;
  max-width: fit-content;
  background-color: var(--bg-primary);
  color: var(--primary-700)
}

.quick-answer-link-to-IA a,
a.wiki-nw-link {
  background-color: var(--bg-container);
  border-radius: 8px;
  margin-top: 10px;
  padding: 5px
}

.quick-answer-link-to-IA a:hover,
a.wiki-nw-link:hover {
  background-color: var(--bg-elevated);
  box-shadow: 0 8px 15px var(--shadow-medium)
}

.wiki-nw-link {
  color: var(--primary-700) !important
}

.search-input,
.share_url_footer_content,
.wiki-nw-link:hover,
a.wiki-nw-link:hover,
html[data-path="/search"] .c-p-600 {
  color: var(--text-primary)
}

.dropdown.dd_clean .dd-toggle-label,
a.wiki-nw-link {
  transition: background-color .3s ease, padding-left .3s ease
}

.dropdown.dd_clean .dd-toggle-label:hover {
  background-color: var(--bg-dropdown);
  padding-left: 5px
}

.d-info-section,
.question_form_box .q_form_wrapper,
.related-items a,
.videoResultItem,
.widget .wasb {
  background-color: var(--bg-tertiary);
  border-radius: 10px
}

._0_filters-clear-btn,
.chat_bubble:focus-within:before,
.chat_bubble:hover:before,
.d-info-section-desc.col,
.thread-more-menu button {
  background-color: transparent
}

._0_result_page_summary {
  padding: 8px;
  border-radius: 5px;
  border: .5px dashed var(--button-bg);
  line-height: 1.5rem
}

.results-comments .comment:hover {
  box-shadow: 0 8px 15px var(--shadow-dark)
}

.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageViewImageBtn:hover {
  box-shadow: 0 8px 15px var(--shadow-medium);
  background: var(--text-primary)
}

.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageDownloadImageBtn:hover {
  box-shadow: 0 8px 15px var(--shadow-medium);
  background: var(--text-primary);
  color: var(--text-dark)
}

#PreviewImageViewPageBtn,
.promptOptionsSelector .profile-section-selector label:hover {
  background: 0 0
}

.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageViewPageBtn:hover {
  box-shadow: 0 8px 15px var(--shadow-medium);
  border-color: var(--text-primary)
}

.image_preview_arrows_box button {
  background-color: var(--text-primary);
  transition: all .5s ease;
  cursor: pointer
}

.image-preview-wrapper .image-preview-footer,
.m-image-preview-footer,
.news .newsResultItem {
  background-color: var(--bg-tertiary)
}

.newsResultItem .newsResultHeader .sourceAndTime {
  background-color: var(--bg-primary);
  border-radius: 5px;
  padding: 8px
}

.m-image-preview-data-box,
.m-image-preview-host {
  max-width: fit-content;
  background-color: var(--bg-primary);
  color: var(--primary-700);
  padding: 5px;
  border-radius: 8px
}

.dropdown .dd_list_header,
.quick-search-btn {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px var(--shadow-very-dark);
  border: 1px solid #2323254d;
  color: var(--text-light);
  background-color: var(--dropdown-bg)
}

._0_results_summary_box {
  position: relative;
  overflow: hidden;
  padding: 1.2rem;
  box-shadow: 0 8px 25px var(--shadow-strong);
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
  margin-bottom: 30px;
  background-color: var(--bg-tertiary);
  border-radius: 22px;
  padding: 20px;
  z-index: 0
}

._0_results_summary_box::after,
._0_results_summary_box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1
}

._0_results_summary_box::after {
  background: repeating-linear-gradient(0deg, transparent, transparent 29px, #9ca3af12 30px, transparent 31px), repeating-linear-gradient(90deg, transparent, transparent 29px, #9ca3af12 30px, transparent 31px);
  background-size: 30px 30px, 30px 30px;
  pointer-events: none;
  opacity: .35;
  animation: microGridMove 38s linear infinite
}

._0_results_summary_box::before {
  background: radial-gradient(circle at 10% 20%, #6b72804d 0, transparent 50%), radial-gradient(circle at 70% 30%, #1e202866 0, transparent 50%), radial-gradient(circle at 30% 80%, #24252f66 0, transparent 50%), radial-gradient(circle at 90% 90%, #1a1b2266 0, transparent 50%);
  background-size: 50% 50%;
  animation: moveBackground 20s infinite alternate ease-in-out;
  filter: blur(80px);
  opacity: .7
}

.ext_icon {
  background-color: var(--text-primary);
  color: var(--text-dark);
  transition: all .3s ease
}

.ext_icon:hover {
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--text-primary)
}

.result-comments .comment {
  background-color: var(--button-bg);
  color: var(--text-dark);
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
  transition: background-color .3s ease
}

.result-comments .comment:hover {
  background-color: var(--button-hover);
  box-shadow: 0 8px 15px var(--shadow-medium)
}

.__sri-url-box,
.widget#speedtest .speedtestBox .speedBox .header {
  margin-bottom: 10px;
  background-color: var(--bg-primary);
  border-radius: 5px;
  padding: 8px
}

.widget#speedtest .speedtestBox .speedBox .speed-nums {
  margin-top: 2rem
}

.auto_suggestions {
  z-index: 10;
  box-shadow: 1px 5px 15px var(--shadow-dark);
  background-color: var(--bg-primary)
}

.auto_suggestions .auto_item.highlighted {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color)
}

.auto_suggestions .auto_item.highlighted .autoSugArrow svg,
.auto_suggestions .auto_item.highlighted .preview-image.icEmpty svg {
  color: var(--btn-primary-color)
}

.app-header.app-content-box {
  min-height: 60px;
  border-bottom-left-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: var(--gpu-acceleration);
  -webkit-transform: var(--gpu-acceleration);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: sticky;
  top: 0;
  z-index: 30;
  background: #1a1c2333;
  box-shadow: 0 2px 15px var(--shadow-very-dark);
  border: 1px solid #2323254d
}

.quick-settings {
  background: var(--backdrop-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 10px;
  box-shadow: 0 7px 10px var(--shadow-dark);
  border: 1px solid var(--text-dark);
  border-bottom-left-radius: 10px;
  z-index: 5000
}

html[data-path="/images"] .quick-settings {
  background: var(--bg-container);
  backdrop-filter: none;
  -webkit-backdrop-filter: none
}

.app-nav,
.filter-item,
.filter-item:hover,
.inline_map_content,
.quick-settings .qc-sec,
.widget.background,
dialog {
  border: 0
}

.__sri-title .__sri_title_link:hover,
.quick-settings .nav-item-link:hover {
  color: var(--link-hover)
}

.quick-settings-footer {
  border-top: 1px solid var(--text-dark);
  background-color: var(--bg-modal);
  box-shadow: 0 7px 15px var(--shadow-very-dark);
  border-radius: 8px
}

.sri-group .sr-group {
  padding: 10px 10px 20px 30px !important;
  margin-top: 0
}

.correctedQuery {
  line-height: 2
}

.wikipedia_results {
  background-color: var(--bg-special)
}

.wiki_desc_text {
  line-height: 1.55
}

.read-more-inline {
  background-color: var(--button-bg);
  color: var(--text-dark);
  border-radius: 10px;
  padding: 2px 8px
}

.read-more-inline svg {
  color: var(--text-dark);
  transition: all .3s ease
}

.read-more-inline:hover svg {
  color: var(--text-dark);
  transform: translateX(5px)
}

._0_results_summary_text,
.codehilite>.code-buttons>button:hover,
.widgetContent .copyToClip:hover {
  color: var(--text-muted)
}

.__sri-time,
.__sri-time.--new {
  background-color: var(--bg-primary);
  color: var(--text-muted);
  user-select: none
}

.scene,
.search-result,
.sri-group {
  background-color: var(--bg-tertiary);
  border-radius: 10px
}

.__sri-title,
.__sri_title_link,
.btn.--block,
.btn.--primary,
.chat_bubble .actions a,
.chat_bubble .actions button,
.footer-search-results #load_more_results,
.inlineHeader,
.podcast_result .title a,
.related-items a,
.sidebar-filter-nav-form>.filter-item .dd-list li,
.thread-list>li {
  transition: all .5s ease
}

.__sri-title .__domain-favicon {
  margin: 0
}

.__sri-title:has(img.__domain-favicon) .__sri-title-box {
  margin-left: 21px
}

.widgetContent {
  background-color: var(--bg-tertiary);
  border-radius: 10px
}

.serp-nav .nav_item {
  position: relative
}

.serp-nav .nav_item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--nav_n_se_line);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform .3s ease, box-shadow .3s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px
}

._0_sri-w-highlight .serp-nav .nav_item.searchResultAnswer:after,
.serp-nav ._0_sri-w-highlight .nav_item.searchResultAnswer:after,
.serp-nav .nav_item.--active:after,
.serp-nav .nav_item:hover:after {
  transform: scaleY(1)
}

._0_more_search_box {
  text-align: center;
  width: 80%
}

._0_page-separator,
._0_results_summary_box,
.__srgi-title a,
.__sri_title_link._0_sri_title_link._0_URL,
.cluster a,
.dropdown .dd-list li.ul,
.landing_cat_buttons,
.newsResultItem .newsResultHeader .newsResultTitle a._0_TITLE,
.wikipediaResult a,
.wikipediaResult a:hover {
  border-bottom: none !important
}

.__sri_more_menu._0_k_ui_dropdown .k_ui_dropdown_data_list {
  left: 60px !important
}

.wikipediaResult a {
  color: var(--button-bg);
  transition: color .3s ease
}

.wikipediaResult a:hover {
  color: var(--button-hover)
}

._0_summarize_link {
  background-color: var(--button-bg);
  min-width: 120px;
  max-width: 200px;
  margin-bottom: 10px;
  margin-top: 3px;
  border-radius: 10px !important;
  user-select: none;
  transition: background-color .3s ease
}

.trigger-link svg {
  color: var(--text-very-dark)
}

._0_summarize_link:hover .ic svg {
  transform: translateX(5px) !important
}

._0_summarize_link,
._0_summarize_link a,
._0_summarize_link svg {
  color: var(--text-very-dark) !important
}

._0_summarize_link:hover,
.podcast_result .body .thumbnail img:hover {
  box-shadow: 0 8px 15px var(--shadow-medium)
}

._0_quick_answer_links a.__0_highlight {
  background-color: none;
  color: var(--text-secondary);
  font-weight: 600
}

.results_summary_text_box sup {
  border-radius: 50%;
  background-color: var(--bg-citation);
  color: var(--text-citation);
  padding: 1px 4px;
  transition: background-color .3s ease, color .3s ease
}

.results_summary_text_box sup .tooltip {
  position: fixed !important;
  z-index: 9999 !important;
  top: auto
}

._0_results_summary_links {
  margin-bottom: 30px
}

._0_results_summary_links a,
.chat_bubble .sources li .li-flex .title {
  transition: color .3s ease, transform .3s ease;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none
}

.cluster a,
.widget-simple .widgetItemTitle .__title-text {
  border-radius: 3px;
  transition: all .3s ease
}

._0_results_summary_links a.__0_highlight,
._0_results_summary_links a:hover,
.chat_bubble .sources a:hover .title,
.cluster a:hover,
.widget-simple .widgetItemTitle .__title-text:hover {
  transform: translateX(3px);
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--text-primary);
  color: var(--text-dark);
  text-decoration: none
}

._0_results_summary_links .__domain-name {
  user-select: none;
  background-color: var(--timestamp-bg);
  color: var(--primary-700)
}

.wasb-title {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 450
}

.wolfram-answer {
  background-color: var(--bg-tertiary);
  margin-bottom: 25px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px
}

._0_discuss_document_btn,
.app-box-center {
  margin-top: 1rem
}

._0_discuss_document_btn,
.cluster .toggle-label,
.smw {
  background-color: var(--button-bg);
  border-radius: 10px;
  padding: 2px 8px;
  max-width: max-content;
  position: relative;
  margin: 10px auto 0;
  user-select: none;
  color: var(--text-dark);
  transition: background-color .3s ease, color .3s ease
}

._0_discuss_document_btn:hover,
._0_filters-clear-btn:hover,
.read-more-inline:hover,
.smw:hover {
  background-color: var(--button-hover);
  color: var(--text-dark)
}

._0_discuss_document_btn svg,
.smw svg {
  transition: transform .3s ease
}

._0_discuss_document_btn:hover svg {
  transform: translateX(5px)
}

.smw:hover svg {
  transform: translateX(3px)
}

.ks-tooltip-body {
  background-color: var(--k-tooltip-text)
}

.ia-tooltip-body__desc,
.ia-tooltip-body__desc__title,
.ks-tooltip-body {
  color: var(--text-light)
}

.tooltip_base {
  color: var(--k-tooltip-bg);
  width: 500px;
  z-index: 10001 !important
}

.tooltip-trigger:not(.new-tooltip) .ks-tooltip,
.tooltip_base,
[data-arrow] {
  background: var(--dropdown-bg);
  backdrop-filter: blur(12px) saturate(50%);
  -webkit-backdrop-filter: blur(12px) saturate(50%);
  border: 1px solid var(--text-dark);
  border-radius: 4px
}

.tooltip-trigger:not(.new-tooltip) .ks-tooltip a {
  color: var(--text-light);
  text-decoration: none
}

.tooltip-trigger:not(.new-tooltip) .ks-tooltip:before {
  border-top: 8px solid transparent
}

.k-tooltip,
.tooltip {
  z-index: 500
}

._0_results_summary_text .tooltip,
.results_summary_text_box .tooltip,
sup a .tooltip {
  z-index: 10002 !important
}

.k-ui-modal-overlay,
.overlay-close-event-handler.--open {
  z-index: 300
}

#domainInfoModal,
.k-ui-modal {
  z-index: 400
}

.btn.--block:hover,
.btn.--primary:hover,
.footer-search-results #load_more_results:hover {
  background-color: var(--text-primary);
  color: var(--text-dark);
  border-color: var(--text-primary);
  box-shadow: 0 8px 15px var(--shadow-medium)
}

.ranked-c-adjust-info-icon:not(.new-tooltip) .k-tooltip,
.tooltip-trigger:not(.new-tooltip) .k-tooltip {
  background-color: var(--k-tooltip-text);
  color: var(--text-light)
}

.trigger>.tooltip.top {
  bottom: auto
}

#thread_search,
._0_app_theme_switch_box>label,
._0_result_page_summary,
.app-box,
.bg-white,
.codehilite pre,
.content>table,
.dark\:bg-graphite-900:where(.dark, .dark *),
.upgrade-banner,
.widget#translate .tbox .k_ui_dropdown,
.widgetContent .widgetItems .widgetItem,
.widgetContent .widgetItems .widgetItem:hover {
  background-color: var(--bg-primary)
}

.widgetItem .videoResultThumbnail img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}

.search-form .search-input-container,
.search-form .search-input-container-kids {
  box-shadow: 1px 8px 30px 0 var(--shadow-strong)
}

.paywall-icon .paywall-tooltip {
  color: var(--text-light);
  background: var(--dropdown-bg);
  backdrop-filter: blur(12px) saturate(50%);
  -webkit-backdrop-filter: blur(12px) saturate(50%);
  border: 1px solid var(--text-dark);
  border-radius: 4px
}

.btn.--secondary-light-s:hover {
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  transition: all .5s ease
}

.ranked-c-adjust-info-icon:not(.new-tooltip) .k-tooltip:after,
.tooltip-trigger:not(.new-tooltip) .k-tooltip:after {
  border-top: 8px solid var(--text-dark)
}

.auto_suggestions_lenses_edit_box:hover {
  background-color: var(--link-visited)
}

.widget-time-ago {
  background-color: var(--timestamp-bg);
  color: var(--primary-700);
  user-select: none;
  border-radius: 5px;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: auto;
  margin-top: auto
}

.scene {
  padding: 1rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInCLS .3s ease-out forwards;
  z-index: 1
}

.top_nav_links>a {
  background-color: var(--button-bg);
  padding-left: 20px;
  border-radius: 20px;
  color: var(--text-very-dark) !important;
  box-shadow: 0 0 10px #00080;
  transition: all .5s ease;
  padding-right: 20px;
  height: 40px
}

.top_nav_links>a:hover {
  background-color: var(--button-hover);
  transform: none
}

#settings_showFiltersPanel:checked~.top-panel #top-parent {
  margin-left: 3px
}

.cheatsh .content {
  border-radius: 5px
}

.cheatsh .cheatsh_content_wrpr::after,
.cheatsh .content {
  background-color: var(--bg-tertiary)
}

.cheatsh .code {
  box-shadow: 0 0 10px #00040;
  border-radius: 16px;
  border: 2px solid var(--text-dark)
}

.ranked-box-overlay {
  position: absolute !important
}

.ranked-box-overlay.--open {
  left: 676px !important;
  top: -74px !important
}

.gap-2 {
  gap: calc(var(--spacing)*4)
}

.bg-graphite {
  background-color: var(--color-graphite)
}

._0_filters-clear-btn i svg {
  height: 30px;
  width: 30px
}

.thread-more-menu a,
.thread-more-menu button {
  color: var(--text-primary);
  border-radius: 5px;
  padding: 5px 10px;
  transition: all .5s ease
}

.chip-group .chip-button {
  border-radius: 8px;
  transition: all .5s ease
}

.chip-group .chip-button[aria-checked=true] {
  background-color: var(--button-bg) !important;
  border-color: var(--button-bg) !important;
  color: var(--bg-container) !important
}

.chip-group .chip-button[aria-checked=false] {
  background-color: var(--bg-tertiary) !important;
  border-color: var(--bg-primary) !important;
  color: var(--text-primary) !important
}

.chip-group .chip-button:hover {
  background-color: var(--button-hover) !important;
  color: var(--bg-container) !important
}

#prompt-box {
  flex-grow: unset !important;
  margin-top: auto;
  padding-bottom: calc(8px+env(safe-area-inset-bottom));
  position: sticky;
  z-index: 20;
  background: #040405b3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;
  transform: var(--gpu-acceleration);
  -webkit-transform: var(--gpu-acceleration);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.main-center-box>* {
  margin-inline: auto;
  max-width: 812px;
  padding-left: calc(16px+env(safe-area-inset-left));
  padding-right: calc(16px+env(safe-area-inset-right));
  width: 100%
}

#form {
  padding: 0 30px 20px
}

.sidebar-box>.tags-pane {
  background: var(--bg-tertiary)
}

#prompt-box-focus-hint {
  display: none !important
}

.mob #prompt-box {
  flex-grow: 1;
  background: 0 0;
  border: 0
}

.mob #form {
  background: #04040566;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #fff4d;
  padding: 5px 10px 10px;
  transform: var(--gpu-acceleration);
  -webkit-transform: var(--gpu-acceleration);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.promptOptionsSelector li.option {
  transition: background-color .3s ease, color .3s ease;
  cursor: pointer
}

#PreviewImageViewImageBtn,
#chat_box .chat_bubble .model,
._0_app_theme_switch_box>input:checked+label,
._0_more_search_box_customize_button:hover,
.chat_bubble .actions a:hover,
.chat_bubble .actions button:hover,
.chat_bubble .content sup:hover,
.chat_bubble [data-show-more]:hover,
.cluster .cluster-header .badge,
.dropdown .dd-list li.--hover,
.dropdown .dd-list li:hover,
.image-preview-wrapper .image-preview-footer .image-preview-info-footer-buttons #PreviewImageViewImageBtn,
.k_ui_dropdown_data_list .list_items>:is(a, div, label, ._0_k_ui_dropdown_li).__hover,
.k_ui_dropdown_data_list .list_items>:is(a, div, label, ._0_k_ui_dropdown_li):focus-visible,
.k_ui_dropdown_data_list .list_items>:is(a, div, label, ._0_k_ui_dropdown_li):hover,
.kite-nav ul li a[aria-current],
.promptOptionsSelector .custom-assistants li.option.focus,
.promptOptionsSelector .custom-assistants li.option.info-show,
.promptOptionsSelector .custom-assistants li.option:focus-within,
.promptOptionsSelector .custom-assistants li.option:hover,
.promptOptionsSelector .default-assistants li.option.focus,
.promptOptionsSelector .default-assistants li.option.info-show,
.promptOptionsSelector .default-assistants li.option:focus-within,
.promptOptionsSelector .default-assistants li.option:hover,
.promptOptionsSelector .profile-section-selector label:has(:checked),
.promptOptionsSelector .recommended-assistants li.option.info-show,
.promptOptionsSelector .recommended-assistants li.option:focus-within,
.promptOptionsSelector .recommended-assistants li.option:hover,
.promptOptionsSelector li.option.info-show,
.promptOptionsSelector li.option:focus-within,
.promptOptionsSelector li.option:hover,
.results_summary_text_box sup:hover,
.thread-list>li:is(.active, :hover, :focus-within),
.thread-more-menu a:hover,
.thread-more-menu button:hover,
.widget#translate .tbox-sep:hover {
  background-color: var(--text-primary) !important;
  color: var(--text-dark)
}

#top-parent,
.cluster .cluster-header .badge {
  user-select: none
}

.thread-list>li>:is(.save, .unsave):hover {
  color: var(--button-bg)
}

.thread-list>li>.unsave {
  color: var(--button-bg)
}

.newsResultItem {
  background-color: var(--bg-tertiary);
  border-radius: 12px;
  padding: 1.2rem 22px .7rem 18px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInCLS .3s ease-out forwards
}

.newsResultItem:first-child {
  padding-top: 1.2rem
}

.newsResultItem .newsResultTime {
  background-color: var(--timestamp-bg);
  color: var(--primary-700);
  border-radius: 5px;
  padding: 0 6px;
  user-select: none;
  transition: background-color .3s ease, color .3s ease
}

.videoResultItem .videoResultRight {
  padding: 1rem 1rem 0
}

.videoResultItem .videoPublisher {
  margin-bottom: 10px;
  background-color: var(--bg-primary);
  border-radius: 5px;
  padding: 8px
}

.videoResultItem .videoResultRight .videoResultInfo .videoPublished .videoPublishedDate,
.videoResultItem .videoResultRight .videoResultInfo .videoPublishedDate,
.videoResultItem .videoResultRight .videoResultInfo .videoViewsCount {
  background-color: var(--timestamp-bg);
  color: var(--primary-700);
  border-radius: 5px;
  padding: 0 6px;
  transition: background-color .3s ease, color .3s ease;
  user-select: none
}

.videoResultItem .videoResultRight .videoResultInfo {
  padding: 10px
}

.videoResultItem .videoResultThumbnail .videoResultVideoTime {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: var(--gpu-acceleration);
  -webkit-transform: var(--gpu-acceleration);
  box-shadow: 0 2px 15px var(--shadow-very-dark);
  border: 1px solid #2323254d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--timestamp-bg)
}

.videos .top_media_item {
  background-color: var(--text-dark);
  border-radius: 6px;
  text-decoration: none;
  transition: background-color .3s ease
}

#uploadedItems .icon,
#uploadedItems .name,
#uploadedItems .type,
.codehilite>.code-buttons>button,
.quick-settings .nav-item-link,
.top_media_item_title,
a {
  transition: color .3s ease
}

.promptOptionsSelector .custom-assistants li.option[aria-selected=true] .center,
.promptOptionsSelector .default-assistants li.option[aria-selected=true] .center,
.promptOptionsSelector .recommended-assistants li.option[aria-selected=true] .center {
  font-weight: 600
}

.promptOptionsSelector .profile-section-selector label:not(:has(:checked)):hover {
  background: var(--hover-bg)
}

.promptOptionsSelector .profile-section-selector label {
  transition: all .3s ease;
  cursor: pointer
}

.dragover #form {
  background-color: #413f5359;
  border: 2px dashed var(--text-primary);
  transition: background-color .3s ease, border .3s ease
}

#uploadedItems .item,
[data-files] .item {
  background-color: var(--bg-primary);
  transition: background-color .3s ease, box-shadow .3s ease
}

#uploadedItems .item:hover .icon,
#uploadedItems .item:hover .name,
#uploadedItems .item:hover .type,
html[data-path="/search"] .videos .top_media_item:hover .top_media_item_title {
  color: var(--text-dark)
}

#uploadedItems .item:hover {
  background-color: var(--text-dark);
  box-shadow: 0 8px 15px var(--shadow-medium)
}

.upgrade-banner .info {
  line-height: 1.2rem
}

._0_filters-clear-btn,
.auto_suggestions .auto_item,
.btn.--secondary,
.promptOptionsSelector .custom-assistants li.option,
.promptOptionsSelector .default-assistants li.option,
.promptOptionsSelector .recommended-assistants li.option {
  transition: background-color .3s ease, color .3s ease
}

.search-result,
.widgetContent {
  padding: 1.2rem .8rem .6rem
}

.search-result,
.sri-group {
  min-height: 120px;
  opacity: 0;
  transform: translateY(0);
  animation: fadeInCLS .3s ease-out forwards
}

@media (prefers-reduced-motion:reduce) {

  *,
  ::after,
  ::before {
    animation-duration: .001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .001ms !important;
    scroll-behavior: auto !important
  }

  .sri-group {
    opacity: 1;
    transform: none;
    animation: none
  }

  #prompt-box,
  .app-header {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    background: var(--backdrop-fallback) !important
  }

  @keyframes moveBackground {
    to {
      transform: translate(0, 0)
    }
  }

  @keyframes microGridMove {
    to {
      background-position: 0 0, 0 0
    }
  }

  @keyframes fadeInCLS {

    0%,
    to {
      opacity: 1;
      transform: none
    }
  }

  .k_ui_toggle_switch .k_ui_toggle_switch_bar,
  .k_ui_toggle_switch .k_ui_toggle_switch_bar:after {
    transition: none !important
  }
}

@media (prefers-reduced-motion:no-preference) {
  .enhanced-animation {
    animation: complexMove 2s ease-in-out infinite
  }
}

@supports not ((backdrop-filter:blur(0)) or (-webkit-backdrop-filter:blur(0))) {

  #prompt-box,
  ._0_copied_tooltip,
  .app-header.app-content-box,
  .chat_bubble .message-info,
  .dropdown .dd-list,
  .dropdown .dd-list input[type=search],
  .mob #form,
  :not(dialog)>.thread-more-menu {
    background: var(--backdrop-fallback) !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important
  }
}

.search-result:nth-child(1) {
  animation-delay: .1s
}

.search-result:nth-child(2) {
  animation-delay: .2s
}

.search-result:nth-child(3) {
  animation-delay: .3s
}

.thread-list>li:hover>a>.title,
.thread-list>li:is(.active)>a>.title,
.thread-list>li:is(:hover, .active, :focus-within)>a>.excerpt {
  color: var(--text-dark)
}

.thread-list>li>a>.title {
  transition: color .5s ease
}

._0_copied_tooltip,
.chat_bubble .message-info,
.dropdown .dd-list,
:not(dialog)>.thread-more-menu {
  background: var(--dropdown-bg);
  border: 1px solid var(--text-dark);
  backdrop-filter: blur(12px) saturate(50%);
  -webkit-backdrop-filter: blur(12px) saturate(50%);
  background-clip: padding-box
}

._0_more_search_bangs_list_add_box:hover,
._0_more_search_options_box:hover,
._0_more_search_user_bang_item._0__active,
._0_more_search_user_bang_item:hover,
.auto_suggestions .auto_suggestions_lens_path,
.auto_suggestions .auto_suggestions_lenses_box label:hover {
  background-color: var(--text-primary);
  color: var(--text-dark)
}

._0_more_search_bangs_list_add_box,
._0_more_search_options_box,
._0_more_search_user_bang_item,
.k_ui_dropdown_data_list .list_items>:is(a, div, label, ._0_k_ui_dropdown_li),
.w-full {
  border-radius: 10px;
  transition: background-color .3s ease, color .3s ease
}

.auto_suggestions .auto_suggestions_lens_path {
  padding: 0 6px;
  border-radius: 8px
}

.auto_suggestions .auto_suggestions_lenses_box label {
  background-color: var(--bg-modal);
  border-radius: 8px;
  padding: 0 6px;
  transition: background-color .3s ease, color .3s ease
}

._0_quick_answer_links a,
.auto_suggestions .auto_suggestions_lenses_box label.--active,
.chat_bubble .content sup>a,
.image-preview-wrapper .image-preview-footer .image-preview-info-header>.image-preview-links a,
.newsResultItem:empty .newsResultHeader:empty .sourceAndTime:empty,
.share_url_footer_content:hover,
.text-underline,
.top_media_item:hover,
.top_podcast_item:hover {
  text-decoration: none
}

.content>details:not(.references) {
  background-color: var(--text-dark);
  border: 1px solid color-mix(in srgb, var(--text-dark) 30%, transparent);
  background: linear-gradient(235deg, var(--bg-primary) 20%, var(--bg-modal))
}

.results_summary_text_box:has(#qa_show_more:not(:checked)) .smw::before {
  width: 0
}

._0_results_summary_link_to_IA:focus-visible,
._0_results_summary_links a:focus-visible,
._0_summarize_link:focus-visible,
.chip-group .chip-button:focus-visible,
.dropdown .dd-list li:focus-visible,
.read-more-inline:focus-visible,
.thread-more-menu a:focus-visible,
.thread-more-menu button:focus-visible,
.widget#translate .tbox .icons .fc:focus-visible,
.wiki-nw-link:focus-visible {
  outline: 2px solid var(--text-primary);
  outline-offset: 2px
}

._0_app_theme_switch_box>label {
  transition: background-color .3s ease
}

._0_app_theme_switch_box>label:hover {
  background-color: var(--theme-switch-hover)
}

.citation .source {
  background: var(--bg-primary);
  padding: 4px 6px
}

.landing-category-select {
  z-index: 1
}

.widgetItems.box-less .widget_more_menu_box .k_ui_dropdown_data_list {
  height: max-content;
  border: 1px solid var(--as-dd-border);
  border-radius: 12px;
  box-shadow: 1px 8px 30px 0#00017;
  gap: 6px;
  padding-block: 20px;
  padding-inline: 10px
}

.instant-answer {
  background-color: var(--bg-tertiary);
  border-radius: 10px;
  padding: 1.2rem 22px .7rem 18px;
  margin-bottom: 25px
}

header {
  box-shadow: 0 2px 15px var(--shadow-very-dark);
  z-index: 2
}

#thread_search {
  border: 1px solid var(--bg-modal)
}

.codehilite pre,
.codehilite>.filename {
  border: 1px solid var(--bg-tertiary)
}

.codehilite>.filename {
  background: var(--bg-modal)
}

.chat_bubble [data-show-more] {
  transition: background .3s ease-in-out, color .3s ease-in-out
}

.model-icon[data-model=ki],
.model-icon[data-model=ki_mini],
.model-icon[data-model=ki_research],
.thread-more-menu a:hover i,
.thread-more-menu button:hover i {
  color: var(--text-dark)
}

.content>table {
  width: fit-content
}

.chat_bubble .actions button {
  cursor: pointer
}

.cluster h2 a:hover {
  border-bottom-color: none
}

.main-nav_container,
html[data-path="/lens"] header {
  position: sticky;
  top: 1rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: var(--gpu-acceleration);
  -webkit-transform: var(--gpu-acceleration);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #1a1c2333;
  box-shadow: 0 2px 15px var(--shadow-very-dark);
  border: 1px solid #2323254d;
  border-radius: 16px
}

.rounded-bg {
  background-image: radial-gradient(farthest-side at bottom, transparent 100%, var(--bg-primary))
}

.advanced-search-modal-backdrop::before,
.auto_suggestions_lenses_edit_box a,
.dropdown .dd-list input[type=search],
.product-footer {
  background-color: var(--bg-modal)
}

html:not([data-path="/search"]):not([data-path="/landing"]) footer:before {
  content: "[NOTE] If the theme is not displayed on this page,please select and install add-ons from github!";
  color: var(--status-danger);
  font-weight: 600
}

.callout {
  background: color-mix(in srgb, var(--bg-modal) 50%, transparent)
}

html[data-path="/lens"] header {
  z-index: 2;
  max-width: 75%
}

.instant-answer .__ia-body .__ia-title>div {
  align-items: normal
}

.d-info-body .__section-item-icon {
  overflow: auto
}

.k_ui_btn_group .k_ui_btn {
  transition: all .3s ease
}

.buttons-left {
  background-color: var(--bg-modal);
  margin: .5rem 2rem;
  border-radius: 16px;
  padding: .5rem
}

.chat_bubble {
  margin-bottom: 3.6rem
}

._0_quick_answer_links a:hover,
.chat_bubble .actions button,
.thread-list-header,
.thread-more-menu a i,
.thread-more-menu button i,
footer ul li,
footer ul li a,
input:where(:not([type=checkbox], [type=radio]))::placeholder,
textarea::placeholder {
  color: var(--text-secondary)
}

#tags #tags-add,
#tags>.tag,
#tags>.untagged {
  background: var(--bg-primary);
  border: 1px solid var(--bg-modal)
}

.sidebar-box>.tags-pane,
.sidebar-box>.threads-pane {
  border-right: 1px solid var(--bg-modal)
}

.thread-list>li:not(:nth-last-child(1 of:not([hidden])))::after {
  border-bottom: 1px solid var(--bg-modal)
}

.tag-selector:has(:checked) {
  background: var(--bg-modal)
}

.tag-selector {
  transition: background .3s ease
}

.advanced-search-modal {
  top: -4rem;
  margin-top: 6rem;
  background-color: var(--bg-modal);
  box-shadow: 5px 5px 15px var(--shadow-very-dark);
  border: 0
}

.iu_box {
  background: var(--bg-tertiary);
  border: 1px solid var(--bg-modal);
  box-shadow: 0 2px 15px var(--shadow-very-dark)
}

.prompt-options {
  box-shadow: 1px 5px 15px 0 var(--shadow-color);
  margin: -6.5rem 0 0-2rem;
  background-color: var(--bg-modal)
}

#profile-select,
.prompt-options {
  border: 1px solid var(--text-dark)
}

#internet-access {
  background: var(--bg-tertiary)
}

#internet-access:has(:checked),
#lens-select.active {
  background: color-mix(in srgb, var(--text-secondary) 30%, var(--bg-primary));
  color: var(--text-primary)
}

.widgetFooter.end {
  background-color: var(--button-bg);
  color: var(--text-very-dark);
  border-radius: 10px;
  max-width: fit-content;
  margin: 10px auto 0;
  cursor: pointer;
  user-select: none;
  transition: background-color .3s ease
}

._0_summarize_link:hover,
.related-items a:hover,
.widgetFooter.end:hover {
  background-color: var(--button-hover)
}

.widget .widgetContent {
  padding-bottom: 1rem
}

._0_filters-clear-btn:hover svg,
.related-items a:hover {
  color: var(--text-dark)
}

.thread-list>li>a>.excerpt {
  color: var(--text-muted);
  transition: color .5s ease
}

.widgetContent .copyToClip {
  transition: background-color .3s ease-in-out, color .3s ease-in-out
}

.btn.--secondary:hover {
  background-color: var(--text-primary);
  color: var(--text-dark)
}

.c-p {
  color: var(--primary);
  rotate: 0;
  transition: rotate .5s ease-in-out, color .3s ease
}

:focus-visible {
  outline: 0
}

a.nav-item-link.--active:hover {
  color: var(--text-dark) !important
}

.land_adv_search_btn i svg,
.quick-settings-header #quickSettingsCloseBtn svg {
  rotate: 0;
  transition: rotate .5s ease-in-out
}

.land_adv_search_btn:hover i svg,
.quick-settings-header #quickSettingsCloseBtn:hover svg,
html[data-path="/search"] .c-p:hover {
  rotate: 90deg
}

._0_filters-clear-btn svg {
  color: var(--text-primary);
  transition: color .3s ease
}

._0_d-info-domain-name,
._0_quick_answer_links .__domain-name {
  background-color: var(--bg-primary);
  color: var(--text-primary)
}

.chat_bubble .references ol .__domain-name {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  border: 1px solid var(--text-very-dark)
}

._0_page-separator {
  height: 2px
}

._0_more_search_box {
  background-color: var(--bg-modal);
  border: 0
}

body:has(#settings_showStatsPanel:checked) ._0_more_search_options_box .hide,
body:has(#settings_showStatsPanel:checked) ._0_more_search_options_box .show {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

._0_page-separator::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, var(--text-primary), transparent);
  background-size: 200% 100%;
  animation: moveGradient 2s linear infinite
}

.model-info {
  margin-left: 4rem
}

.chat_bubble .references>.head>button,
.followup_questions a:hover {
  color: var(--text-secondary)
}

.k_ui_toggle_switch.--enabled .k_ui_toogle_switch_bar,
.k_ui_toogle_switch input:checked~.k_ui_toogle_switch_bar {
  background: var(--text-secondary);
  border-color: var(--text-secondary)
}

.k_ui_toggle_switch.--enabled .k_ui_toogle_switch_bar::after,
.k_ui_toogle_switch input:checked~.k_ui_toogle_switch_bar::after {
  background-color: var(--text-secondary)
}

.followup_questions a i {
  transition: transform .5s ease
}

.followup_questions a:hover i {
  transform: translateX(4px)
}

@media (max-width:767px) {
  ._0_summarize_link a {
    overflow: hidden
  }

  ._0_summarize_link {
    margin-bottom: 3px
  }

  .search-result,
  .sri-group {
    border-bottom: 10px solid var(--bg-primary)
  }

  .inline-content+.search-result,
  .inline-content+.sri-group {
    border-top: 10px solid var(--bg-primary)
  }

  .top_nav_links>a {
    max-width: fit-content
  }

  .landing-category-select .landing_cat_buttons>button.--active {
    background-color: var(--button-bg);
    border: var(--button-bg)
  }

  .list-widget .widgetContent {
    background-color: var(--text-light);
    padding-bottom: .5rem
  }

  .list-widget .inlineHeader {
    border-bottom: none;
    color: var(--text-dark)
  }

  #inline_map,
  #inline_map .info_section:last-child,
  .list-widget .widgetContent .widgetItemTitle {
    border-bottom: none
  }

  .widget-simple .__result-date,
  .widget-simple .widgetItemTitle .__title-text {
    color: var(--text-dark)
  }

  .widget-simple .__domain-name {
    background-color: var(--bg-container);
    color: var(--text-secondary)
  }

  #inline_map .info_box .wide-poi-info {
    margin-left: 1rem
  }

  .m-h .m-h-i {
    position: sticky;
    top: 0
  }

  .search-form .search-input-container {
    background: var(--dropdown-bg);
    border: 1px solid var(--text-dark);
    backdrop-filter: blur(12px) saturate(50%);
    -webkit-backdrop-filter: blur(12px) saturate(50%)
  }
  [search-bar-bottom] .m-h-i {
    border-bottom: none
  }
  ._0_filters-panel {
    border-top: 1px solid var(--bg-separator)
  }
  .widgetContent {
    margin-bottom: 0
  }
  .dropdown .inner-label.checked {
    background-color: color-mix(in srgb, var(--status-good) 30%, transparent);
    border-radius: 16px
  }
  .dropdown .dd-list .textContent i {
    display: none !important
  }
  #m-wiki,
  .widget {
    background-color: var(--bg-container)
  }
  .widget {
    margin-bottom: .75rem;
    border-radius: 10px;
    padding: .25rem
  }
  body[search-bar-bottom] .search-form_box {
    background: linear-gradient(180deg, transparent 0, var(--bg-primary) 79.67%)
  }
  #m_wiki {
    background-color: var(--bg-tertiary)
  }
}
