/* This file is to fix Firefox's issue with dark themes. Put it in you profile
 * folder (about:profiles) in chrome/userContent.css */
input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']):not([type='radio']), textarea, select {
    -moz-appearance: none !important;
    background-color: white;
    color: black;
}

#downloads-indicator-counter {
    color: white;
}

#TabsToolbar {
    visibility: collapse !important;
}

#webrtcIndicator {
  display: none;
}

/* Hide the sidebar header for all sidebars */
#sidebar-header {
  display: none;
}

/* remove maximum/minimum width restriction of sidebar */
#sidebar-box {
  max-width: none !important;
  min-width: 0px !important;
}
